extends ../layout

block content
  .inner
    p
    .card
      h4 Samply studies
      
      table.table 
        
        thead
          td X
          td N.
          td Name
          td Description
          td Code message
          td Geofencing instruction
          td Image 
          td Created
          td Author
          td Institute
          td Mem-s
          td Part-s 
          td Geo 
          td Active
          td Request
          td Public 
        
        each project, i in projects
          
          tr 
            td
              a(href=`/admin/removestudy/${project._id}`) 
                <i class="far fa-trash-alt"></i>
            td #{i + 1}
            td= project.name
            td= project.description.split(' ').slice(0, 10).join(' ') 
            td= project.codeMessage && project.codeMessage.split(' ').slice(0, 10).join(' ') 
            td= project.geofencingInstruction && project.geofencingInstruction.split(' ').slice(0, 10).join(' ') 
            td 
              a(href=`${project.image}`) Link
            td= h.moment(project.created).locale(language).format("MMM Do YY HH:mm") 
            td= project.author_name[0]
            td= project.author_institute[0]
            td= project.members.length
            td= project.participants.length
            td= project.settings && project.settings.enableGeofencing
            td= project.currentlyActive
            td= (project.requestedForApproval ? 'true' : '')
            td
              if project.public 
                a(href=`/admin/togglestudystatus/${project._id}`) 
                  <i class='fas fa-lock-open'></i>
              else 
                a(href=`/admin/togglestudystatus/${project._id}`) 
                  <i class="fas fa-lock"></i>
      
    //- pre= h.dump(projects)
