extends layout

block content
  .inner
    
    p   
    
    if user.level < 10
      .card
        h2 #{l.payableAccountTitle} 
        
        if(user.stripeAccountId) 
          .participantInformation
            .cell #{l.payableAccountCharges} 
            if(user.stripeInformation && user.stripeInformation.charges_enabled)
              .cell #{l.payableEnabled} 
            else 
              .cell #{l.payableDisabled} 
              
            .cell #{l.payableAccountDetails} 
            if(user.stripeInformation && user.stripeInformation.details_submitted)
              .cell #{l.payableSubmitted} 
            else 
              .cell #{l.payableNotSubmitted} 
                
            .cell #{l.payableAccountPayouts} 
            if(user.stripeInformation && user.stripeInformation.payouts_enabled)
              .cell #{l.payableEnabled}
            else 
              .cell #{l.payableDisabled}   
        
          if(user.emailIsConfirmed)    
            form(action="/create-account-link" method="POST" id="stripe")
              input(type='hidden' name='userId' value=user._id)
              input(type='hidden' name='stripeAccountId' value=user.stripeAccountId)
              input(type="hidden" name="email" value= user.email)
              input.button(type="submit" value=l.payableEdit form="stripe")
                   
        else 
          p #{l.payableCreateAccount}  
          p 
        
          if(user.emailIsConfirmed)    
            form(action="/create-account-link" method="POST" id="stripe")
              input(type='hidden' name='userId' value=user._id)
              input(type='hidden' name='stripeAccountId' value=user.stripeAccountId)
              input(type="hidden" name="email" value= user.email)
              input.button(type="submit" value=l.payableCreate form="stripe")
          else 
            h6 #{l.payableConfirmEmail}  

    p
    h2 #{l.title}
   
    .card
    
      form(action="/account/confirm" method="POST" id="email")
        if(user.email)
          label(for="email") #{l.email}
          .emailBox
            h6= `${user.email}`
            if(user.emailIsConfirmed)
              p ✅ #{l.emailIsConfirmed}
            else 
              div
                p ⚠️ #{l.emailIsNotConfirmed}
                input(type="text" name="email" value= user.email hidden)
                input.button(value=l.sendLink type="submit" form="email")
        
      form(action="/account" method="POST" id="account")
        
        label(for="time") #{l.registered}
        h6= h.moment(user.created).locale(language).format("MMM Do YY")
                
        label(for="name") #{l.name}
        input(type="text" name="name" value= user.name ||'')
        
        if user.level > 10

          label(for="institute") #{l.institute}
          input(type="text" name="institute" value=user.institute)

        else
          if user.samplyId
            label(for="id") ID
            h6= (user.code && user.code.id) || user.samplyId

          if user.participant_projects && user.participant_projects.length
            br
            label(for="participantInProject") #{l.participate_in_studies}
            each project in user.participant_projects
              p 
                a(href=`/studies/${project.slug}`)= project.name
          else
            p !{l.no_studies}

        label(for="language") #{l.language}
        .custom-select
          select(name="language")
            - var options = [{value: 'english', label: 'English'}, {value: 'german', label: 'Deutsch'}, {value: 'dutch', label: 'Nederlands'}]
            each option in options
              option(value=option.value, selected=(user.language === option.value))= option.label

        p(style='white-space:pre;')
        input.button( type="submit" value= l.submit form="account")

    p

    if user.level > 10
      p 
        a(href=`/account/delete`) #{l.deleteMyAccount}

    
        
