extends layout

block content
  .inner
  
    h2 #{l.title}
    
    li.nav__item: a.nav__main_link(href="/logout", class=(currentPath.startsWith('/logout') ? 'nav__main_link--active' : '') style="width:100px; background-color: #c9f4db; border-radius: 5px;")
      h6 #{layout.logout}
    p    
    .card
        
      form.form(action="/account" method="POST")
        
        label(for="time") #{l.registered}
        h2= h.moment(user.created).locale(language).format("MMM Do YY")
          
        if(user.email)
          label(for="email") #{l.email}
          h2= `${user.email}`

        label(for="name") #{l.name}
        input(type="text" name="name" value= user.name ||'')
        
        if user.level > 10

          label(for="institute") #{l.institute}
          input(type="text" name="institute" value=user.institute)

        else
          if user.samplyId
            label(for="id") ID
            h2= (user.code && user.code.id) || user.samplyId

          if user.participant_projects
            label(for="participantInProject") #{l.participate_in_studies}
            each project in user.participant_projects
              p 
                a(href=`/testing/${project._id}`)= project.name
          else
            p !{l.no_studies}

        label(for="language") #{l.language}
        .custom-select
          select(name="language")
            - var options = [{value: 'english', label: 'English'}, {value: 'german', label: 'Deutsch'}]
            each option in options
              option(value=option.value, selected=(user.language === option.value))= option.label

        p(style='white-space:pre;')
        input.button( type="submit" value= l.submit )
        
        //- pre=h.dump(user)
        
        
