extends layout

block content
  .inner
  
    h2 #{l.title}
    
    li.nav__item: a.nav__main_link(href="/logout", class=(currentPath.startsWith('/logout') ? 'nav__main_link--active' : '') style="width:100px; background-color: #c9f4db; border-radius: 5px;")
      h6 #{layout.logout}
    p    
    .card
        
      form.form(action="/account" method="POST")
        
        label(for="time") #{l.registered}
        h2= h.moment(user.created).locale(language).format("MMM Do YY")
          
        label(for="name") #{l.name}
        input(type="text" name="name" value= user.name || (user.facebook && user.facebook.name) || (user.github && user.github.name) || (user.google && user.google.name) ||'')
        
        if(user.email)
          label(for="email") #{l.email}
          input(type="email" name="email" value=user.email||user.facebook.email||user.github.email||user.google.email)

        if user.level > 10

          label(for="institute") #{l.institute}
          input(type="text" name="institute" value=user.institute)

        else
          if user.samplyId
            label(for="id") ID
            h2= user.code.id || user.samplyId

          if user.participantInProject
            label(for="participantInProject") #{layout.project}
            .custom-select-header
              select(name="participantInProject")
                option(value='' style="" selected=(typeof(user.participantInProject) === "undefined")) – #{layout.choose_project} –
                each project in projects
                  option(value=project._id, selected=(user.participantInProject.toString() === project._id.toString()))= project.name
          else
            label(for="participantInProject") #{l.choose_project}
            .custom-select-header
              select(name="participantInProject")
                option(value='' style="" selected=(typeof(user.participantInProject) === "undefined")) – #{layout.choose_project} –
                each project in projects
                  option(value=project._id)= project.name

        label(for="language") #{l.language}
        .custom-select
          select(name="language")
            - var options = [{value: 'english', label: 'English'}, {value: 'german', label: 'Deutsch'}]
            each option in options
              option(value=option.value, selected=(user.language === option.value))= option.label

        p(style='white-space:pre;')
        input.button( type="submit" value= l.submit )
        
        
