extends layout

block content
  .inner
    //- p
    //- header.top
    //-   nav.nav
    //-     .nav__section.nav__section--pages
    //-       li.nav__item: a.nav__link(href="/participant/register", class=(currentPath.startsWith('/participant/register') ? 'nav__link--active' : '')) #{layout.signup}
    //-       li.nav__item: a.nav__link(href="/participant/login", class=(currentPath.startsWith('/participant/login') ? 'nav__link--active' : '')) #{layout.login}
    //-       li.nav__item: a.nav__link(href="/code", class=(currentPath.startsWith('/code') ? 'nav__link--active' : '')) #{layout.enterCode}
    //-       li.nav__item: a.nav__link(href="/participant/howitworks", class=(currentPath.startsWith('/participant/howitworks') ? 'nav__link--active' : '')) #{layout.howitworks}

    .loginCard
      if user
        h5 #{layout.message_logged_in}

      if !user
        .loginForm
          form(action="/auth/code" method="POST")
            //- h5 Use participant code
            if (code)
              .div(style="background-color: #ffffffe0; border-top-left-radius: 6px; border-top-right-radius: 6px;")
                input(type="text" name="code" value=code readonly=code hidden=true style="border-top-left-radius: 6px; border-top-right-radius: 6px;")
                p= `${layout.your_code} ${code}`
            else 
              input(type="text" name="code" placeholder="Participant code" style="border-top-left-radius: 6px; border-top-right-radius: 6px;")
             
            if (joined_project)
              .div(style="background-color: #ffffffe0; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;")
                input(type="text" name="participantInProject" value=joined_project._id readonly=joined_project hidden=true)
                p= `${layout.your_study} ${joined_project.name}` 
                if(joined_project.description)
                  h6 #{layout.description}
                  p= joined_project.description
              
            if (projects)    
              .custom-select-header 
                select(name="participantInProject" id="choose_project" style="border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;")
                  option(value='' style="" selected=!joined_project) #{layout.choose_project}
                  each project in projects
                    option(value=project._id, selected=(project.name==joined_project))= project.name
            p
            input.button(type="submit" value=layout.enter)
            p
          
          if (!joined_project)
            h5 #{layout.login_with_your_email} 
            a(style={color:'black'} href=`/participant/login`) 
              div.button(style="width:100%") #{layout.login_to_your_account}
              
            a(style={color:'black'} href=`/participant/register`)     
              div.button(style="width:100%") #{layout.create_new_account}
            
        
    script(nonce=`${noncevalue}`).
      document.body.style['backgroundSize'] = 'cover';
      document.body.style['backgroundRepeat'] = 'no-repeat';
      document.body.style['backgroundImage'] = "url('/images/photos/participant-login.jpg')";

        //- pre=h.dump(projects)
        //- pre=h.dump(joined_project)
        //- pre=h.dump(code)
