extends layout

include mixins/_userCard

block content
  .inner

    .userTable
      h2 #{l.title}

      if(project && user.project && user.project.name)

        .card 
          .users
            table.table
              thead
                td №
                td #{l.table_samplyId}
                td #{l.table_token}
                td #{l.table_date}
                td #{l.table_code} 
                td #{l.table_group}  
                td #{l.table_details} 
                td #{l.table_payout} 
                td #{l.table_history}
                td #{l.table_new_notification}
                if user.level > 10
                  td <i class="fas fa-ban"></i>
              
              if(users)  
                each person, i in users
                  +userCard(person, i)

      else
        p !{l.message_create_project}


  //- pre=h.dump(users)
