extends layout

include mixins/_userCard

block content
  .inner
    p
    header.top
      nav.nav
        .nav__section.nav__section--pages
          li.nav__item: a.nav__link(href="/data", class=(currentPath.startsWith('/data') ? 'nav__link--active' : '')) #{layout.results}
          li.nav__item: a.nav__link(href="/users", class=(currentPath.startsWith('/users') ? 'nav__link--active' : '')) #{layout.participants}

    p
    .userTable
      h2 #{l.title}

      if(user.project && user.project.name)
        p
          a(style={color:'black'} href=`/downloadprojectdata/`) #{l.download_all_data}
        p
          a(style={color:'black'} href=`/downloadprojectmetadata/`) #{l.download_all_meta_data}
        //- p
        //-   a(style={color:'black'} href=`/downloadsummarydata/`) Download summary data

        .card
          .users
            table.table
              thead
                //- td #{l.table_number}
                td №
                td #{l.table_openlabid}
                td #{l.table_code}
                if (project.showCompletionCode)
                  td #{l.table_confirmation_code}
                td #{l.table_date}
                td #{l.table_role}
                td #{l.table_tests}
                td #{l.table_data}
                td #{l.table_delete_requests}
                td #{l.table_name}
                td #{l.table_language}
                td #{l.table_details}
                td #{l.table_metadata}
                td Not-s

                if user.level > 10
                  td #{l.table_delete_user}
              each person, i in users
                +userCard(person, i)

          .pagination
            .pagination__prev
              if page > 1
                a(href=`/users/page/${page - 1}`) #{l.pagination_prev}
            .pagination__text
              p= `${l.pagination_page_1} ${page} ${l.pagination_page_2} ${pages} - ${count} ${l.pagination_page_3}`
            .pagination__next
              if page < pages
                a(href=`/users/page/${parseFloat(page) + 1}`) #{l.pagination_next}

      else
        p !{l.message_create_project}


      //- pre=h.dump(project)
      //- pre=h.dump(users)
