extends layout

include mixins/_groupCard

block content
  .inner
    .userTable
      h2 #{l.groupsTitle} 
      

      if(project && user.project && user.project.name)

        .card 
          .users
            table.table
              thead
                td №
                td #{l.groupName} 
                td #{l.groupTitle}  
                td #{l.groupMembers}  
              
              if(users)  
                each group, i in groups
                  +groupCard(users, group, i)
        
        h2 #{l.groupAdd}  
         
        form(action="/api/creategroup" method="POST" id="group")
        
          h6 #{l.groupName} 
          input(type='text' name="groupName" value = '' required)
          p
          h6 #{l.groupSelectParticipants}   
          each user in users
            if(!user.group)
              .tag.tag__choice
                input(type = 'checkbox' id=user.id value=user.id name='participants' checked=false)
                label(for=user.id class="tagLabel") 
                  if (user.username)
                    strong #{user.username} 
                  | #{user.id} 
          if(users.filter(user => !user.group).length === 0)
            p #{l.groupNoParticipantsLeft}  

          p
          input.button(type="submit" value=l.groupCreate form="group")
                        
      else
        p Create a new study first

    //- pre=h.dump(groups)
    //- pre=h.dump(project)
