extends layout

block content
  
  script(src='/javascripts/modules/jquery-3.6.0.min.js' nonce=`${noncevalue}`)
  
  .inner
  
    if(study)
      .userTable  
      
        h2= `${layout.history_notifications} ${typeof(participant) === 'number' ? layout.history_for_participant + participant : ''}`
    
        p
          a(style={color:'black'} href=`/downloadhistory/${user.project._id}`) #{l.download} 
        p #{l.downloadInfo} 
          
        table.table
          thead
            td N.
            td #{layout.history_notifications_ID} 
            td #{layout.history_notifications_Title} 
            td #{layout.history_notifications_Message} 
            td #{layout.history_notifications_url} 
            td #{l.sentFromServer} 
            td #{l.expire} 
            td #{l.receivedInOpenApp} 
            td #{l.tappedNotificationBar} 
            td #{l.openInApp} 
            td #{l.deletedByUser} 
            td #{l.geofenceEventTriggered} 
            td #{l.messageID} 
            td #{l.status} 
            td #{l.receipt} 
            
            td #{layout.history_notifications_Delete} 
          each notification, i in history
            tr
              td #{i + 1 + skip}
              td
                a(style="border-bottom: 2px solid #FFC40E;" href=`/history/?id=${notification.samplyid}`) #{notification.samplyid}
              td= notification.data.title 
              td= notification.data.message
              td
                a(style="border-bottom: 2px solid #FFC40E;" href=notification.data.url target="blank_") Link
              td= notification.events.filter(e => e.status === 'sent').map(e => h.moment.utc(e.created).local().locale(language).format('DD.MM.YY, H:mm:ss')) 
              td= notification.data.expireAt && h.moment.utc(notification.data.expireAt).local().locale(language).format('DD.MM.YY, H:mm:ss') 
              td= notification.events.filter(e => e.status === 'received-in-app').map(e => h.moment.utc(e.created).local().locale(language).format('DD.MM.YY, H:mm:ss'))               
              td= notification.events.filter(e => e.status === 'tapped').map(e => h.moment.utc(e.created).local().locale(language).format('DD.MM.YY, H:mm:ss')) 
              td= notification.events.filter(e => e.status === 'opened-in-app').map(e => h.moment.utc(e.created).local().locale(language).format('DD.MM.YY, H:mm:ss')) 
              td= notification.events.filter(e => e.status === 'archived').map(e => h.moment.utc(e.created).local().locale(language).format('DD.MM.YY, H:mm:ss')) 
              td= notification.events.filter(e => e.status === 'geofencing-event').map(e => h.moment.utc(e.created).local().locale(language).format('DD.MM.YY, H:mm:ss')) 
              td= notification.messageId  
              td= notification.ticket && notification.ticket.status  
              td
                if(notification.ticket && notification.ticket.status)
                  p
                    a(style={color:'black'} href=`/notificationreceipt/${notification.ticket.id}`) Open
              
              td
                a(href=`/removerecord/${notification._id}`)
                  != h.icon('remove')
            
        .pagination
          .pagination__prev
            if page > 1
              a(href=`/history/page/${page - 1}${typeof(participant) === 'string' ? '?id=' + participant : ''}`) #{layout.pagination_prev}
          .pagination__text
            p= `${layout.pagination_page_1} ${page} ${layout.pagination_page_2} ${pages} - ${count} ${layout.pagination_page_3}`
          .pagination__next
            if page < pages
              a(href=`/history/page/${parseFloat(page) + 1}${typeof(participant) === 'string' ? '?id=' + participant : ''}`) #{layout.pagination_next}

    else 
      h2= `${layout.history_notifications}`
      p !{layout.message_history_create_project}
      
    //- pre= h.dump(history)        
