extends layout

block content
  .inner
    .userTable
    
      h2= `${layout.history_notifications} ${typeof(participant) === 'number' ? layout.history_for_participant + participant : ''}`
      table.table
        thead
          td N.
          td #{layout.history_notifications_Event} 
          td #{layout.history_notifications_ID} 
          td #{layout.history_notifications_Time_user} 
          td #{layout.history_notifications_Time_server} 
          td #{layout.history_notifications_Title} 
          td #{layout.history_notifications_Message} 
          td #{layout.history_notifications_url} 
          td #{layout.history_notifications_Delete} 
        each notification, i in history
          tr
            td #{i + 1 + skip}
            td= notification.name
            //- td= notification.samplyid
            td
              a(style="border-bottom: 2px solid #FFC40E;" href=`/history/?id=${notification.samplyid}`) #{notification.samplyid}
            td= h.moment.utc(notification.usertimestamp).local().locale(language).format('MMMM Do YYYY, H:mm:ss') 
            td= h.moment.utc(notification.created).local().locale(language).format('MMMM Do YYYY, H:mm:ss')
            td= notification.data.title 
            td= notification.data.content
            td= notification.data.openUrl
            td
              a(href=`/removerecord/${notification._id}`)
                != h.icon('remove')
                
                
      .pagination
        .pagination__prev
          if page > 1
            a(href=`/history/page/${page - 1}${typeof(participant) === 'number' ? '?id=' + participant : ''}`) #{layout.pagination_prev}
        .pagination__text
          p= `${layout.pagination_page_1} ${page} ${layout.pagination_page_2} ${pages} - ${count} ${layout.pagination_page_3}`
        .pagination__next
          if page < pages
            a(href=`/history/page/${parseFloat(page) + 1}${typeof(participant) === 'number' ? '?id=' + participant : ''}`) #{layout.pagination_next}
                      
      //- pre=h.dump(history)
