extends layout

block content
  .inner
  
    if(study)
    
      .userTable  
      
        h2= `${layout.history_notifications} ${typeof(participant) === 'number' ? layout.history_for_participant + participant : ''}`
    
        p
          a(style={color:'black'} href=`/downloadhistory/${user.project._id}`) Download
        p When you download the history of notifications, the time of the events is saved as a timestamp. In JavaScript, a timestamp is the number of milliseconds that have passed since January 1, 1970.
          
        table.table
          thead
            td N.
            //- td #{layout.history_notifications_Event} 
            td #{layout.history_notifications_ID} 
            td #{layout.history_notifications_Title} 
            td #{layout.history_notifications_Message} 
            td #{layout.history_notifications_url} 
            
            //- td #{layout.history_notifications_Time_user} 
            //- td #{layout.history_notifications_Time_server} 
            td Sent from the server
            td Tapped (opened from the notification)
            td Opened in the app via the messages interface
            td Archived by user
            
            td #{layout.history_notifications_Delete} 
          each notification, i in history
            tr
              td #{i + 1 + skip}
              td
                a(style="border-bottom: 2px solid #FFC40E;" href=`/history/?id=${notification.samplyid}`) #{notification.samplyid}
              
              //- td= notification.name
              td= notification.data.title 
              td= notification.data.message
              td
                a(style="border-bottom: 2px solid #FFC40E;" href=notification.data.url) #{notification.data.url}
              //- td= h.moment.utc(notification.usertimestamp).local().locale(language).format('MMMM Do YYYY, H:mm:ss') 
              //- td= h.moment.utc(notification.created).local().locale(language).format('MMMM Do YYYY, H:mm:ss')
              td= notification.events.filter(e => e.status === 'sent').map(e => h.moment.utc(e.created).local().locale(language).format('MMMM Do YYYY, H:mm:ss')) 
              
              td= notification.events.filter(e => e.status === 'tapped').map(e => h.moment.utc(e.created).local().locale(language).format('MMMM Do YYYY, H:mm:ss')) 
              td= notification.events.filter(e => e.status === 'opened-in-app').map(e => h.moment.utc(e.created).local().locale(language).format('MMMM Do YYYY, H:mm:ss')) 
              td= notification.events.filter(e => e.status === 'archived').map(e => h.moment.utc(e.created).local().locale(language).format('MMMM Do YYYY, H:mm:ss')) 
                
              
              td
                a(href=`/removerecord/${notification._id}`)
                  != h.icon('remove')
            
        .pagination
          .pagination__prev
            if page > 1
              a(href=`/history/page/${page - 1}${typeof(participant) === 'number' ? '?id=' + participant : ''}`) #{layout.pagination_prev}
          .pagination__text
            p= `${layout.pagination_page_1} ${page} ${layout.pagination_page_2} ${pages} - ${count} ${layout.pagination_page_3}`
          .pagination__next
            if page < pages
              a(href=`/history/page/${parseFloat(page) + 1}${typeof(participant) === 'number' ? '?id=' + participant : ''}`) #{layout.pagination_next}

    else 
      h2= `${layout.history_notifications}`
      p !{layout.message_history_create_project}      
      
    pre= h.dump(history)           
