extends layout

block headers
  meta(name="Description" content="Samply, notifications, experience-based sampling")

block background-image  
  .bg-image-participants
  
block content
  
  .inner
    p
    .card
      .card-message
        h4 #{layout.title}
        p.card-message !{l.welcome_text}
        
        p.card-message !{l.test_drive}

        p.card-message !{l.for_participants}
        
        h5 #{l.features_header} 
        
        ul
          li 
            p.card-message !{l.feature_1} 
          li 
            p.card-message !{l.feature_2} 
          li 
            p.card-message !{l.feature_3} 
          li 
            p.card-message !{l.feature_4} 
          li 
            p.card-message !{l.feature_5} 
        
        
        h5 #{l.about_header} 
                
        p.card-message !{l.about_text} 
        
        h5 #{l.contact_header}
        
        ul
          li 
            p.card-message !{l.contact_email}
          
          li 
            p.card-message !{l.contact_slack}
          
          li 
            p.card-message !{l.contact_github}
        
        h5 #{l.cite_us_header}
        
        p.card-message !{l.citation}
        
        p.card-message !{l.citation_read}
            
        
