extends layout

include mixins/_userCard
include mixins/_invitationForm

block content
  .inner

    h2 #{layout.invitations}
    .card
      if project && project.name  
        p !{l.mobile_invite_1}
        p !{l.mobile_invite_2}
        
        h5 
          .headerLink !{l.way_0_header} 
          
        table.table
          tr
            td !{l.web_link}
            td
              input(type="text" value=`https://samply.uni-konstanz.de/studies/${project.slug}` id="weblink" readonly)
              button(class="copyButton" id="weblink") #{l.copy_link}
        
        p !{l.web_link_1}  
            
        h5 
          .headerLink !{l.way_1_header} 
        
        table.table
          tr
            td !{l.direct_link}
            td
              input(type="text" value=`samply://--/study?name=${project.slug}` id="direct" readonly)
              button(class="copyButton" id="directButton") #{l.copy_link}
              
        
        p !{l.direct_link_1}
        p !{l.direct_link_2}
        p !{l.direct_link_3}
        
        p !{l.custom_link_1}
        table.table
          tr
            td !{l.custom_link}
            td
              input(type="text" value=`samply://--/study?name=${project.slug}&code=123` id="custom")
              button(class="copyButton" id="customButton") #{l.copy_link}
        
        h5 
          .headerLink !{l.way_2_header} 
        
        p !{l.finding_study}
        
        script(nonce=`${noncevalue}`).
          document.addEventListener('DOMContentLoaded', function (){
            const btns = document.getElementsByClassName('copyButton');
            for(let i = 0; i < btns.length; i++) {
              btns[i].addEventListener("click", function(e) {
                const textId = e.currentTarget.id.split("Button")[0]
                const copyText = document.getElementById(textId);
                copyText.select();
                document.execCommand("copy");
                document.getElementById(e.currentTarget.id).style.background = "#f3e9e9";
              })
            }
          });
              
      else
        p !{l.message_create_project}

    
