doctype html
html
  head
    title= `${title || h.siteName}`
    link(rel="preload" href='/fonts/BebasNeue Bold.ttf' as="font" type="font/ttf" crossorigin)
    link(rel="preload" href='/fonts/OpenSans-Regular.ttf' as="font" type="font/ttf" crossorigin)
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/lamp.png")
    link(rel="manifest" href="/manifest.json" crossorigin="use-credentials")
    script(src="https://kit.fontawesome.com/d5aafe6934.js" nonce=`${noncevalue}`)
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block headers
  body
    block header
      header.top
        nav.nav.nav__top
          .nav__section.nav__section--pages

            if !user
              li.nav__item.nav__main_link
                li.nav__item(style = "display:grid; grid-template-columns: 1fr auto 1fr;")
                  a.nav__main_link(href='/languages/german', class=(locale_language == 'german' ? 'nav__main_link' : 'nav__main_link--passive'))
                    h6 DE
                  p /  
                  a.nav__main_link(href='/languages/english', class=(locale_language == 'english' ? 'nav__main_link' : 'nav__main_link--passive'))
                    h6 EN
                li.nav__item
                  a.nav__main_link(href='/studies', class=(currentPath.startsWith('/studies') ? 'nav__main_link--active' : ''))
                    h6 #{layout.studies}
                li.nav__item: a.nav__main_link(href="/docs/intro", class=(currentPath.startsWith('/docs/intro') ? 'nav__main_link--active' : ''))
                  h6 Docs
                li.nav__item: a.nav__main_link(href="/", class=(currentPath === '/' ? 'nav__main_link--active' : ''))
                  h6 Samply
                //- li.nav__item
                //-   a(style="display:flex;flex-direction: column; padding: 1rem 1.5rem 0.5rem 1.5rem;")
                //-     button.button(id="installApp" style="display:none") #{layout.install_app}
            if user
              if user.level < 10
                li.nav__item
                  a.nav__main_link(href='/studies', class=(currentPath.startsWith('/studies') ? 'nav__main_link--active' : ''))
                    h6 #{layout.studies}
                li.nav__item
                  a.nav__main_link(href='/help', class=(currentPath.startsWith('/help') ? 'nav__main_link--active' : ''))
                    h6 #{layout.help}
                  
              if user.level > 100
                li.nav__item: a.nav__main_link(href="/debugprojects", class=(currentPath.startsWith('/debugprojects') ? 'nav__main_link--active' : ''))
                  h6 Supervision

          .nav__section.nav__section--user
            
            if user
            
              if user.level > 10 
                script(nonce=`${noncevalue}`).
                  document.addEventListener('DOMContentLoaded', function () {
                    document.getElementById('activeProject').addEventListener('change', function doThings() {
                      const project = document.getElementById("activeProject").value;
                      if(project != ''){
                        window.location.href = `/projects/${project}`;
                      }
                    });
                  });

                nav__section.nav__section--search
                  h6
                    .custom-select-header
                      select(name="activeProject" id="activeProject")
                        - const projects = user.projects.concat(user.invitedprojects)
                        option(value='') #{layout.choose_project}
                        each project in projects
                          if(project.name.length < 40)
                            option(value=project._id selected=(user.project && user.project._id && (user.project._id.toString() == project._id.toString()) ))= project.name
                          else
                            option(value=project._id selected=(user.project && user.project._id && (user.project._id.toString() == project._id.toString()) ))= `${project.name.substring(0,20)}...`
        
                li.nav__item
                  a.nav__main_link(href='/docs/intro', class=(currentPath.startsWith('/docs') ? 'nav__main_link--active' : ''))
                    <i class="fas fa-book-open"></i>
                li.nav__item
                  a.nav__main_link(href='/projects', class=(currentPath.startsWith('/projects')  ? 'nav__main_link--active' : ''))
                    h6 #{layout.projects}
                li.nav__item
                  a.nav__link(href="/notifications", class=(currentPath.startsWith('/notifications') ? 'nav__main_link--active' : '')) 
                    h6 #{layout.notifications} 
                li.nav__item
                  a.nav__link(href="/invitations", class=(currentPath.startsWith('/invitations') ? 'nav__main_link--active' : '')) 
                    h6 #{layout.invitations}
                li.nav__item
                  a.nav__link(href='/users', class=(currentPath.startsWith('/users') ? 'nav__main_link--active' : ''))
                    h6 #{layout.participants}
                li.nav__item
                  a.nav__link(href="/history", class= currentPath.startsWith('/history') ? 'nav__main_link--active' : '')
                    h6 #{layout.notigications_log} 
              li.nav__item
                a.nav__link(href="/account", class= currentPath.startsWith('/account') ? 'nav__main_link--active' : '')
                  h6 #{layout.profile}
              if user.level > 10 
                //- li.nav__item: a.nav__main_link(href="/logout", class=(currentPath.startsWith('/logout') ? 'nav__main_link--active' : ''))
                  h6 #{layout.logout}
              if user.level < 10
                li.nav__item
                  a.nav__main_link(href='/messages', class=(currentPath.startsWith('/messages') ? 'nav__main_link--active' : ''))
                    h6 #{layout.messages} 
            else
              li.nav__item: a.nav__main_link(href="/researcher/login", class=(currentPath.startsWith('/researcher/login') ? 'nav__main_link--active' : ''))
                h6 #{layout && layout.login}
              li.nav__item: a.nav__main_link(href="/researcher/register", class=(currentPath.startsWith('/researcher/register') ? 'nav__main_link--active' : ''))
                h6 #{layout && layout.signup}
              //- li.nav__item: a.nav__main_link(href="/participants", class=(currentPath.startsWith('/participants') ? 'nav__main_link--active' : ''))
              //-   h6 #{layout && layout.forParticipants}
              
                
    block background-image 
    
    block messages
      if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  script(nonce=`${noncevalue}`).
                    document.addEventListener('DOMContentLoaded', function (){
                      document.getElementById('button_flash').addEventListener('click', function removeFlash() {
                        document.getElementById('button_flash').parentElement.remove()
                      });
                    });
                  button.flash__remove(id="button_flash") &times;
    
    .content
      block content
        

    block scripts
      script(src="/dist/App.bundle.js" nonce=`${noncevalue}`)
      script(src="/javascripts/modules/service.js" nonce=`${noncevalue}`)
