doctype html
html
  head
    title= `${title || h.siteName}`
    link(rel="preload" href='/fonts/BebasNeue Bold.ttf' as="font" type="font/ttf" crossorigin)
    link(rel="preload" href='/fonts/OpenSans-Regular.ttf' as="font" type="font/ttf" crossorigin)
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/samply.png")
    script(src="https://kit.fontawesome.com/d5aafe6934.js" nonce=`${noncevalue}`)
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block headers
  body
    block header
      header.top
        nav.nav.nav__top
          .nav__section.nav__section--pages

            if !user
              .custom-select
                select(name="language" id="languageSwitch")
                  - var options = [{value: 'english', label: 'English'}, {value: 'german', label: 'Deutsch'}, {value: 'dutch', label: 'Nederlands'}]
                  each option in options
                    option(value=option.value, selected=(locale_language === option.value))
                      h6 #{option.label}

              li.nav__item.nav__main_link
                li.nav__item
                  a.nav__main_link(href='/studies', class=(currentPath.startsWith('/studies') ? 'nav__main_link--active' : ''))
                    h6 #{layout && layout.studies}
                li.nav__item: a.nav__main_link(href="/docs/intro", class=(currentPath.startsWith('/docs/intro') ? 'nav__main_link--active' : ''))
                  h6 #{layout.docs} 
                li.nav__item: a.nav__main_link(href="/news/intro", class=(currentPath.startsWith('/news/intro') ? 'nav__main_link--active' : ''))
                  h6 #{layout.news} 
                li.nav__item: a.nav__main_link(href="/", class=(currentPath === '/' ? 'nav__main_link--active' : ''))
                  h6 #{layout.samply} 
            if user

              .navigation 
                nav
                  ul
                    li
                      a.nav__link(href="/") #{layout.samply} 
                      ul
                        li
                          a.nav__link(href="/news/intro", class=(currentPath.startsWith('/news') ? 'nav__main_link--active' : '')) #{layout.news} 
                        li
                          a.nav__link(href='/docs/intro', class=(currentPath.startsWith('/docs') ? 'nav__main_link--active' : '')) #{layout.docs} 
                        li
                          a.nav__link(href='/help', class=(currentPath.startsWith('/help') ? 'nav__main_link--active' : '')) #{layout.help}
                        li
                          a.nav__link(href="/about", class=(currentPath.startsWith('/about') ? 'nav__main_link--active' : '')) #{layout.about} 

              if user.level < 10
                .navigation
                  nav 
                    ul
                      li
                        a.nav__link(href='/studies', class=(currentPath.startsWith('/studies') ? 'nav__main_link--active' : '')) #{layout.publicStudies}
                
              if user.level > 100
                .navigation 
                  nav
                    ul
                      li
                        a.nav__link(href="/admin/studies") Admin
                        ul
                          li
                            a.nav__link(href="/admin/studies", class=(currentPath.startsWith('/admin/studies') ? 'nav__main_link--active' : '')) Studies 
                          li
                            a.nav__link(href='/admin/users', class=(currentPath.startsWith('/admin/users') ? 'nav__main_link--active' : '')) Users


          .nav__section.nav__section--user
            
            if user
              if user.level < 10
                .navigation
                  nav 
                    ul
                      li
                        a.nav__link(href='/messages', class=(currentPath.startsWith('/messages') ? 'nav__main_link--active' : '')) #{layout.messages}

              if user.level > 10 
                script(nonce=`${noncevalue}`).
                  document.addEventListener('DOMContentLoaded', function () {
                    document.getElementById('activeProject').addEventListener('change', function doThings() {
                      const project = document.getElementById("activeProject").value;
                      if(project != ''){
                        window.location.href = `/projects/${project}`;
                      }
                    });
  
                  });

                nav__section.nav__section--search
                  h6
                    .custom-select-header
                      select(name="activeProject" id="activeProject")
                        - const projects = user.projects.concat(user.invitedprojects)
                        option(value='') #{layout.choose_project}
                        each project in projects
                          if(project.name.length < 40)
                            option(value=project._id selected=(user.project && user.project._id && (user.project._id.toString() == project._id.toString()) ))= project.name
                          else
                            option(value=project._id selected=(user.project && user.project._id && (user.project._id.toString() == project._id.toString()) ))= `${project.name.substring(0,20)}...`

                .navigation 
                  nav
                    ul
                      li
                        a.nav__link(href="/projects") #{layout.studies} 
                        ul
                          li
                            a.nav__link(href="/newproject", class=(currentPath.startsWith('/newproject') ? 'nav__main_link--active' : '')) #{layout.newStudy} 
                          li
                            a.nav__link(href="/projects", class=(currentPath.startsWith('/projects') ? 'nav__main_link--active' : '')) #{layout.myStudies}

                .navigation 
                  nav
                    ul
                      li
                        a.nav__link(href="/notifications") #{layout.notifications} 
                        ul
                          li
                            a.nav__link(href="/notifications", class=(currentPath.startsWith('/notifications') ? 'nav__main_link--active' : '')) #{layout.new}  
                          li
                            a.nav__link(href="/scheduled", class=(currentPath.startsWith('/scheduled') ? 'nav__main_link--active' : '')) #{layout.scheduled} 
                          li
                            a.nav__link(href="/history", class=(currentPath.startsWith('/history') ? 'nav__main_link--active' : '')) #{layout.sent} 
                          li
                            a.nav__link(href="/api", class=(currentPath.startsWith('/api') ? 'nav__main_link--active' : '')) #{layout.api} 

                .navigation 
                  nav
                    ul
                      li
                        a.nav__link(href="/users") #{layout.participants} 
                        ul
                          li
                            a.nav__link(href="/users", class=(currentPath.startsWith('/users') ? 'nav__main_link--active' : '')) #{layout.overview} 
                          li
                            a.nav__link(href="/groups", class=(currentPath.startsWith('/groups') ? 'nav__main_link--active' : '')) #{layout.groups} 
                          li
                            a.nav__link(href="/invitations", class=(currentPath.startsWith('/invitations') ? 'nav__main_link--active' : '')) #{layout.invitations} 

              .navigation 
                nav
                  ul
                    li
                      a.nav__link(href="/account") #{layout.account}
                      ul
                        li
                          a.nav__link(href='/account', class=(currentPath.startsWith('/account') ? 'nav__main_link--active' : '')) #{layout.edit}
                        li
                          a.nav__link(href="/logout") #{layout.logout}

            else
              li.nav__item: a.nav__main_link(href="/researcher/login", class=(currentPath.startsWith('/researcher/login') ? 'nav__main_link--active' : ''))
                h6 #{layout && layout.login}
              li.nav__item: a.nav__main_link(href="/researcher/register", class=(currentPath.startsWith('/researcher/register') ? 'nav__main_link--active' : ''))
                h6 #{layout && layout.signup}
              
                
    block background-image 
    
    block messages
      if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  script(nonce=`${noncevalue}`).
                    document.addEventListener('DOMContentLoaded', function (){
                      document.getElementById('button_flash').addEventListener('click', function removeFlash() {
                        document.getElementById('button_flash').parentElement.remove()
                      });
                    });
                  button.flash__remove(id="button_flash") &times;
    
    .content
      .content-inside
        block content
      
      include footer
        

    block scripts
      script(src="/dist/App.bundle.js" nonce=`${noncevalue}`)
      script(nonce=`${noncevalue}`).
        document.addEventListener('DOMContentLoaded', function (){
          if(document.getElementById("languageSwitch")){
            document.getElementById("languageSwitch").onchange = function(e) {
              const language = e.target.value;
              window.location.href = `/languages/${language}`;
            }
          }
        });
      