extends layout

block content
  .inner
    .userTable
    
      h2 Your messages
      table.table
        thead
          td N.
          td #{layout.history_notifications_Title} 
          td #{layout.history_notifications_Message} 
          td #{layout.history_notifications_url} 
          td Time
          
        each notification, i in history
          tr
            td #{i + 1 + skip}
            td= notification.data.title 
            td= notification.data.content
            td
              a(style="border-bottom: 2px solid #FFC40E;" href=notification.data.openUrl) #{notification.data.openUrl}
            td= h.moment.utc(notification.usertimestamp).local().locale(language).format('MMMM Do YYYY, H:mm:ss')             
                
      .pagination
        .pagination__prev
          if page > 1
            a(href=`/history/page/${page - 1}${typeof(participant) === 'number' ? '?id=' + participant : ''}`) #{layout.pagination_prev}
        .pagination__text
          p= `${layout.pagination_page_1} ${page} ${layout.pagination_page_2} ${pages} - ${count} ${layout.pagination_page_3}`
        .pagination__next
          if page < pages
            a(href=`/history/page/${parseFloat(page) + 1}${typeof(participant) === 'number' ? '?id=' + participant : ''}`) #{layout.pagination_next}
                      
