extends layout

block content
  .inner
    .userTable
    
      h2 Your messages
      .div
        //- .div
        //-   h4 N.
        //-   h4 #{layout.history_notifications_Title} 
        //-   h4 #{layout.history_notifications_Message} 
        //-   h4 #{layout.history_notifications_url} 
        //-   h4 Time
          
        each notification, i in history
          .div(style='display: grid; grid-template-columns: 1fr 5fr 5fr 2fr 5fr; grid-gap: 5px; background: white; border-bottom: 1px solid grey;')
            p #{count - i - (page-1)*limit}
            p= notification.data.title 
            p= notification.data.content
            p
                a(style="border-bottom: 2px solid #FFC40E;" href=notification.data.openUrl) Open 
            p= h.moment.utc(notification.usertimestamp).local().locale(language).format('MMMM Do YYYY, H:mm:ss')             
                
      .pagination
        .pagination__prev
          if page > 1
            a(href=`/messages/page/${page - 1}${typeof(participant) === 'number' ? '?id=' + participant : ''}`) #{layout.pagination_prev}
        .pagination__text
          p= `${layout.pagination_page_1} ${page} ${layout.pagination_page_2} ${pages} - ${count} ${layout.pagination_page_3}`
        .pagination__next
          if page < pages
            a(href=`/messages/page/${parseFloat(page) + 1}${typeof(participant) === 'number' ? '?id=' + participant : ''}`) #{layout.pagination_next}
                      
