extends layout

include mixins/_scheduledNotification

block content
  link(href='/javascripts/select/select2.css' rel='stylesheet' nonce=`${noncevalue}`)
  link(href='/javascripts/timezone-picker/timezone-picker.css' rel='stylesheet' nonce=`${noncevalue}`)
  
  script(src='/javascripts/modules/moment.js' nonce=`${noncevalue}`)
  script(src='/javascripts/modules/moment-timezone.js' nonce=`${noncevalue}`)
  script(src='/javascripts/modules/jquery-3.6.0.min.js' nonce=`${noncevalue}`)
  script(src='/javascripts/select/select2.min.js' nonce=`${noncevalue}`)
  script(src='/javascripts/timezone-picker/timezone-picker.min.js' nonce=`${noncevalue}`)
  
  
  .inner
    if !project
      .card 
        p !{l.message_create_project}
      
    if project 
      p
      h6 #{layout.fill_in_information} 
      p
      h6 #{l.title}  
      input#titleContent(type='text', value = '')
      h6 #{l.message} 
      input#messageContent(type='text', value = '')
      h6 #{layout.web_link} 
      input#urlContent(type='text', value = 'https://')
      p !{layout.example_web_link}
      
      h2 #{l.step_0_header} 
      
      .multipleOptions
        .tag.tag__choice
          input(type = 'checkbox' id='useParticipantTimezone' value='true' name='useParticipantTimezone')
          label(for='useParticipantTimezone' class="tagLabel") #{l.step_0_participant_timezone}
      p
      
      .zone-picker
    
      .notifications_scheduler
      
        #choose-participants
          h2 #{l.step_1_header} 
          
          .multipleOptions
            .tag.tag__choice
              input(type = 'checkbox' id='future' value='future' name='participants_future')
              label(for='future' class="tagLabel") #{l.step_1_future}
            .tag.tag__choice
              input(type = 'checkbox' id='current' value='current' name='participants_current' checked=participant)
              label(for='current' class="tagLabel") #{l.step_1_current} 
              
            .specificParticipants(style=`display: ${participant ? 'block' : 'none'}`)
              label(for='tags') #{l.edit_tags}
              ul.tags
                .tag.tag__choice
                  input(type = 'checkbox' id='allCurrentParticipants' value='all' checked=!participant name='participants')
                  label(for='allCurrentParticipants' class="tagLabel") #{l.step_1_all}
                each user in project.mobileUsers
                  if(!user.deactivated)
                    .tag.tag__choice
                      input(type = 'checkbox' id=user.id value=user.id name='participants_ids' checked=user.id === participant)
                      label(for=user.id class="tagLabel") #{user.id}
                  
            .tag.tag__choice
              input(type = 'checkbox' id='groups' value='groups' name='participants_groups')
              label(for='groups' class="tagLabel") #{l.step_1_groups} 
        
            .specificGroups(style=`display: ${groups ? 'block' : 'none'}`)
              label(for='tags') #{l.edit_tags}
              ul.tags
                .tag.tag__choice
                  input(type = 'checkbox' id='allCurrentGroups' value='all' checked=!group name='groups')
                  label(for='allCurrentGroups' class="tagLabel") #{l.step_1_all}
                each group in project.groups
                  .tag.tag__choice
                    input(type = 'checkbox' id=group.id value=group.id name='groups_ids')
                    label(for=group.id class="tagLabel") #{group.name}
          
        
        #choose-time
          h2 #{l.step_2_header} 
        
          .options
            input(type='radio', name='time', value='specific')#time-spec
            label(for='time-spec')
              span #{l.step_2_timepoints}  

            input(type='radio', name='time', value='interval')#time-inter
            label(for='time-inter')
              span #{l.step_2_windows} 
              
            input(type='radio', name='time', value='repeat')#time-repeat
            label(for='time-repeat')
              span #{l.step_2_repeat}  
              select(name="time-every-minute")
                - var everymonthdays = [ { value: 1,  text: l.step_2_every_minute }, { value: 2,  text: l.step_2_every_2_minute }, { value: 5,  text: l.step_2_every_5_minute }, { value: 10,  text: l.step_2_every_10_minute }, { value: 15,  text: l.step_2_every_15_minute }, { value: 30,  text: l.step_2_every_30_minute }]
                each time in everymonthdays
                  option(value=time.value, selected=false)= time.text    
        
        #timePicker(style="display:none")  
          .containerTimePicker
            label #{l.step_2_hour} 
            label #{l.step_2_minute}  
            button(type="button" value="Add new time" id="addTimePicker") #{l.step_2_add_timepoint} 
            input(name="time-specific-hour" class='timePickerHour' type='number' min=0 max=23 value='12') 
            input(name="time-specific-minute" class='timePickerMinute' type='number' min=0 max=59 value='00') 
            
        #timeWindow(style="display:none")
          .containerTimeWindow 
            label.fromContainer #{l.step_2_from}  
            
            label 
            label.toContainer #{l.step_2_to} 

            label 
            label.distanceContainer #{l.step_2_distance} 
            
            label
            label
            button(type="button" value="Add new window" id="addTimeWindow") #{l.step_2_add_window}   
            
            label #{l.step_2_hour}  
            label #{l.step_2_minute}  
            label 
            label #{l.step_2_hour} 
            label #{l.step_2_minute}  
            label 
            label #{l.step_2_hour} 
            label #{l.step_2_minute}  
            label
            label #{l.step_2_random}  
            label
            
            input(name="time-window-start-hour" class='timeWindowInput windowPickerHourStart' type='number' min=0 max=23 value='') 
            input(name="time-window-start-minute" class='timeWindowInput windowPickerMinuteStart' type='number' min=0 max=59 value='') 
            label 
            input(name="time-window-end-hour" class='timeWindowInput windowPickerHourEnd' type='number' min=0 max=23 value='') 
            input(name="time-window-end-minute" class='timeWindowInput windowPickerMinuteEnd' type='number' min=0 max=59 value='')   
            label
            input(name="time-window-distance-hour" class='timeWindowInput windowPickerHourDistance' type='number' min=0 max=23 value=0) 
            input(name="time-window-distance-minute" class='timeWindowInput windowPickerMinuteDistance' type='number' min=0 max=59 value=0)   
            label
            input(name="time-window-number-points" class='timeWindowNumberOfPointsInput' type='number' min=1 value=1) 
    
        #timeRepeat(style="display:none")  
              
            
        #choose-date
          h2 #{l.step_3_header} 
        
          .options
            input(type='radio', name='date', value='specific')#date-spec
            label(for='date-spec')
              span #{l.step_3_dates} 

            input(type='radio', name='date', value='every')#date-every
            label(for='date-every')
              span #{l.step_3_every}  
              select(name="date-every-day")
                - var everymonthdays = [ { value: 1,  text: `${l.step_every_day}` }, ...[2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31].map(d => {return( { value: d, text: `${d}${l.step_dot}`} )}) ]
                each day in everymonthdays
                  option(value=day.value, selected=false)= day.text 
              
            input(type='radio', name='date', value='spec-week')#date-spec-week
            label(for='date-spec-week')
              span #{l.step_3_weekday} 
              - var specific_weekdays = [ {value: "MON", name:l.Monday}, {value: "TUE", name:l.Tuesday}, {value: "WED", name:l.Wednesday}, {value: "THU", name:l.Thursday}, {value: "FRI", name:l.Friday}, {value: "SAT", name:l.Saturday}, {value: "SUN", name:l.Sunday} ]
              .weekTags
                each day in specific_weekdays 
                  .tag.tag__choice
                    input(type = 'checkbox' id=day.value value=day.value name='date-spec-week-day')
                    label(for=day.value class="tagLabel") #{day.name}
          
            input(type='radio', name='date', value='spec-month')#date-spec-month
            label(for='date-spec-month')
              span #{l.step_3_monthday} 
              - var specific_monthdays = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]
              .dayTags
                each day in specific_monthdays
                  .tag.tag__choice
                    input(type = 'checkbox' id=day value=day name='date-spec-week-month')
                    label(for=day class="tagLabel") #{day}
        
        #datePicker(style="display:none")
          .containerDatePicker
            label #{l.step_3_day}  
            label #{l.step_3_month} 
            label #{l.step_3_yeary}  
            button(type="button" value="Add new date" id="addDatePicker") #{l.step_3_add_date}  
            input(name="date-specific-day" class='datePickerInput datePickerDay' type='number' min=1 max=31 value=`${(new Date).getDate()}`) 
            input(name="date-specific-month" class='datePickerInput datePickerMonth' type='number' min=1 max=12 value=`${(new Date).getMonth() + 1}`) 
            input(name="date-specific-year" class='datePickerInput datePickerYear' type='number' value=`${(new Date).getFullYear()}`) 
        

        #choose-month  
          h2 #{l.step_4_header} 
            
          .options
            input(type='radio', name='month', value='every')#month-every
            label(for='month-every')
              span #{l.step_4_any}  

            input(type='radio', name='month', value='specific')#month-spec
            label(for='month-spec')
              span #{l.step_4_specific} 
              - var specific_months = [{value: "JAN", name: l.january}, {value: "FEB", name: l.february}, {value: "MAR", name: l.march}, {value: "APR", name: l.april}, {value: "MAY", name: l.may}, {value: "JUN", name: l.june}, {value: "JUL", name: l.july}, {value: "AUG", name: l.august},{value: "SEP", name: l.september}, {value: "OCT", name: l.october}, {value: "NOV", name: l.november}, {value: "DEC", name: l.december}]
              .weekTags
                each month in specific_months 
                  .tag.tag__choice
                    input(type = 'checkbox' id=month.value value=month.value name='month-spec-month')
                    label(for=month.value class="tagLabel") #{month.name}
              
        
        #choose-start
          h2 #{l.step_5_header} 
          
          .options
            input(type='radio', name='start', value='specific')#start-specific
            label(for='start-specific')
              span #{l.step_5_timepoint} 
              .timeTable
                span #{l.step_5_hour} 
                span #{l.step_5_minute} 
                span #{l.step_5_day} 
                span #{l.step_5_month} 
                span #{l.step_5_year} 
              
                input(name="start-specific-hour" type='number' min=0 style="width: 100px;" value=`${(new Date).getHours()}`)
                input(name="start-specific-minute" type='number' min=0 style="width: 100px;" value=`${(new Date).getMinutes()}`)
                input(name="start-specific-day" class='datePickerInput' type='number' min=1 max=31 value=`${(new Date).getDate()}` style="width: 100px;") 
                input(name="start-specific-month" class='datePickerInput' type='number' min=1 max=12 value=`${(new Date).getMonth() + 1}` style="width: 100px;") 
                input(name="start-specific-year" class='datePickerInput' type='number' min=2020 value=`${(new Date).getFullYear()}` style="width: 100px;") 

            input(type='radio', name='start', value='event')#start-event
            label(for='start-event')
              span #{l.step_5_participant}   
              input(name="start-event-days" type='number' min=0 style="width: 60px;" value=0)
              span #{l.step_5_days}  
              input(name="start-event-hours" type='number' min=0 style="width: 60px;" value=0)
              span #{l.step_5_hours}  
              input(name="start-event-minutes" type='number' min=0 style="width: 60px;" value=0)
              span #{l.step_5_minutes}   
              select(name="start-event-at")
                - var start_events = [{value: 'registration',  text: l.step_5_registration }, {value:'now', text: l.step_5_now }]
                each event in start_events
                  option(value=event.value, selected=false)= event.text
      
            input(type='radio', name='start', value='next')#start-next
            label(for='start-next')
              span #{l.step_5_next}   
              select(name="start-next-day")
                - var nextstartdays = [ { value: 1,  text: `1${l.step_st} (${l.step_same})` }, { value: 2,  text: `2${l.step_nd} (${l.step_next})` }, { value: 3,  text: `3${l.step_rd}` }, ...[4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20].map(d => {return( { value: d, text: `${d}${l.step_th}`} )}), { value: 21,  text: `21${l.step_st}` }, { value: 22,  text: `22${l.step_nd}` }, { value: 23,  text: `23${l.step_rd}` }, ...[24,25,26,27,28,29,30].map(d => {return( { value: d, text: `${d}${l.step_th}`} )}) ]
                each day in nextstartdays
                  option(value=day.value, selected=false)= day.text  
              span #{l.step_day_after}  
              select(name="start-next-at")
                - var start_events = [{value: 'registration',  text: l.step_5_registration }, {value:'now', text: l.step_5_now }]
                each event in start_events
                  option(value=event.value, selected=false)= event.text
                  
        #choose-stop  
          h2 #{l.step_6_header}     
          
          .options
            input(type='radio', name='stop', value='specific')#stop-specific
            label(for='stop-specific')
              span #{l.step_6_timepoint} 
              
              .timeTable
                span #{l.step_5_hour} 
                span #{l.step_5_minute} 
                span #{l.step_5_day} 
                span #{l.step_5_month} 
                span #{l.step_5_year} 
              
                input(name="stop-specific-hour" type='number' min=0 style="width: 100px;" value=`${(new Date).getHours()}`)
                input(name="stop-specific-minute" type='number' min=0 style="width: 100px;" value=`${(new Date).getMinutes()}`)
                input(name="stop-specific-day" class='datePickerInput' type='number' min=1 max=31 value=`${(new Date).getDate()}` style="width: 100px;") 
                input(name="stop-specific-month" class='datePickerInput' type='number' min=1 max=12 value=`${(new Date).getMonth() + 1}` style="width: 100px;") 
                input(name="stop-specific-year" class='datePickerInput' type='number' min=2020 value=`${(new Date).getFullYear()}` style="width: 100px;") 

        
            input(type='radio', name='stop', value='event')#stop-event
            label(for='stop-event')
              span #{l.step_6_participant}   
              input(name="stop-event-days" type='number' min=0 style="width: 60px;" value=0)
              span #{l.step_5_days}   
              input(name="stop-event-hours" type='number' min=0 style="width: 60px;" value=0)
              span #{l.step_5_hours} 
              input(name="stop-event-minutes" type='number' min=0 style="width: 60px;" value=0)
              span #{l.step_5_minutes}  
              select(name="stop-event-at")
                - var stop_events = [ {value: 'registration',  text: l.step_5_registration }, {value:'now', text: l.step_5_now } ]
                each event in stop_events
                  option(value=event.value, selected=false)= event.text 

            input(type='radio', name='stop', value='next')#stop-next
            label(for='stop-next')
              span #{l.step_6_next}    
              select(name="stop-next-day")
                - var nextstopdays = [ { value: 1,  text: `1${l.step_st} (${l.step_same})` }, { value: 2,  text: `2${l.step_nd} (${l.step_next})` }, { value: 3,  text: `3${l.step_rd}` }, ...[4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20].map(d => {return( { value: d, text: `${d}${l.step_th}`} )}), { value: 21,  text: `21${l.step_st}` }, { value: 22,  text: `22${l.step_nd}` }, { value: 23,  text: `23${l.step_rd}` }, ...[24,25,26,27,28,29,30].map(d => {return( { value: d, text: `${d}${l.step_th}`} )}) ]
                each day in nextstopdays
                  option(value=day.value, selected=false)= day.text        
              span #{l.step_day_after_stop}     
              select(name="stop-next-at")
                - var start_events = [{value: 'registration',  text: l.step_5_registration }, {value:'now', text: l.step_5_now }]
                each event in start_events
                  option(value=event.value, selected=false)= event.text        
        
        #choose-expire
          h2 #{l.step_7_header}  
            
          .options
            input(type='radio', name='expire', value='no')#expire-no
            label(for='expire-no')
              span #{l.step_7_not}  

            input(type='radio', name='expire', value='yes')#expire-yes
            label(for='expire-yes')
              span #{l.step_7_yes} 
              input(name="expire-in-days" type='number' min=0 style="width: 60px;" value=0)
              span #{l.step_5_days}   
              input(name="expire-in-hours" type='number' min=0 style="width: 60px;" value=0)
              span #{l.step_5_hours} 
              input(name="expire-in-minutes" type='number' min=0 style="width: 60px;" value=0)
              span #{l.step_7_minutes}  
                  
        p
        p          
        #send-button 
          button(id="createNotificationBtn" class="button") #{l.schedule_notifications} 
          
        div#output
        
        script(type='text/javascript', src='/notifications/create.js' nonce=`${noncevalue}`)
        script(type='text/javascript', src='/notifications/timePicker.js' nonce=`${noncevalue}`)
        script(type='text/javascript', src='/notifications/datePicker.js' nonce=`${noncevalue}`)

  
        
        script(defer type='text/javascript' nonce=`${noncevalue}`).
          $(document).ready( function () {
            
            // choose the default timezone based on user settings
            $('.zone-picker').timezonePicker({ 
              defaultValue: { value: moment.tz.guess(), attribute: "timezone" },
              quickLink: [{
                "PST": "PST",
                "EST": "EST",
                "GMT": "GMT",
                "CET": "CET",
                "EET": "EET",
                "MSK": "MSK",
                "IST": "IST"
              }]
            });

            const output = document.querySelector('#output');
            const input = document.querySelectorAll('input');
            input.addEventListener('change', updateValue);
            function updateValue({ target }) {
              if( target.type === 'text') {
                return;
              }
              const { name,  value } = target;
               
              // change css styles of chosen and not chosen options
              document.querySelectorAll(`input[name=${target.name}]`).forEach(target => {
                target.labels.forEach(label => {
                  if(!label.classList.contains('tagLabel')){
                    label.classList.remove('chosen')
                    label.classList.add('unchosen')
                  } 
                  })
                })
              target.labels.forEach(label => {
                if(!label.classList.contains('tagLabel')){
                  label.classList.remove('unchosen')
                  label.classList.add('chosen')
                }
                });
              
              if(name === 'participants_current'){
                if(target.checked){
                  document.querySelector('.specificParticipants').style.display = 'block';
                } else {
                  document.querySelector('.specificParticipants').style.display = 'none';
                }
              }
              
              if(name === 'participants_groups'){
                if(target.checked){
                  document.querySelector('.specificGroups').style.display = 'block';
                } else {
                  document.querySelector('.specificGroups').style.display = 'none';
                }
              }
            
              // show the participants if specific is chosen
              if(name === 'participants'){
                if(value === 'all'){
                  if(target.checked){
                    document.querySelectorAll("input[name='participants_ids']").forEach(e => e.checked = false);
                  }
                }
              }
              
              // if the specific participants are chosen
              if(name === 'participants_ids'){
                document.querySelectorAll("input[id='allCurrentParticipants']").forEach(e => e.checked = false);
              }
              
              // show the groups if specific is chosen
              if(name === 'groups'){
                if(value === 'all'){
                  if(target.checked){
                    document.querySelectorAll("input[name='groups_ids']").forEach(e => e.checked = false);
                  }
                }
              }
              
              // if the specific groups are chosen
              if(name === 'groups_ids'){
                document.querySelectorAll("input[id='allCurrentGroups']").forEach(e => e.checked = false);
              }
              
              // show the calendar or all other options 
              if(name === 'time'){
                if(value  === 'specific') {
                  // show time picker 
                  document.querySelector('#timePicker').style.display = 'block';
                  document.querySelector('#timeWindow').style.display = 'none';
                } else if(value === 'interval') {
                  // show time window picker 
                  document.querySelector('#timePicker').style.display = 'none';
                  document.querySelector('#timeWindow').style.display = 'block';
                } else {
                  // show time interval picker 
                  document.querySelector('#timePicker').style.display = 'none';
                  document.querySelector('#timeWindow').style.display = 'none';
                }
              }
              
              // show the calendar or all other options 
              if(name === 'date'){
                if(value  === 'specific') {
                  document.querySelector('#datePicker').style.display = 'block';
                  document.querySelector('#choose-month').style.display = 'none';
                  document.querySelector('#choose-start').style.display = 'none';
                  document.querySelector('#choose-stop').style.display = 'none';
                } else {
                  document.querySelector('#datePicker').style.display = 'none';
                  document.querySelector('#choose-month').style.display = 'block';
                  document.querySelector('#choose-start').style.display = 'block';
                  document.querySelector('#choose-stop').style.display = 'block';
                }
              }
              
            }
          })
        
  
    if (project && project.notifications && project.notifications.length > 0)
      .card
        h2 #{l.scheduled_notifications} 
        
        .reviews
          each notification, i in project.notifications
            .review
              +scheduledNotification(notification, i)  

        p  
        button(id="delete_all_notifications" class="button" style="background-color:red; color:white; max-width:300px;") #{l.delete_notifications} 
        script(type='text/javascript', src='/notifications/scheduled.js' nonce=`${noncevalue}`)


    //- pre=h.dump(project)
