extends layout


block content
  .inner
    p
    header.top
      nav.nav
        .nav__section.nav__section--pages
          li.nav__item: a.nav__link(href="/projects", class=(currentPath.startsWith('/projects') ? 'nav__link--active' : '')) #{layout.projects}
          li.nav__item: a.nav__link(href="/constructor", class=(currentPath.startsWith('/constructor') ? 'nav__link--active' : '')) #{layout.chooseTasks}
          li.nav__item: a.nav__link(href="/tasks", class=(currentPath.startsWith('/tasks') ? 'nav__link--active' : '')) #{layout.customizeParameters}
          li.nav__item: a.nav__link(href="/invitations", class=(currentPath.startsWith('/invitations') ? 'nav__link--active' : '')) #{layout.invitations}
          li.nav__item: a.nav__link(href="/notifications", class=(currentPath.startsWith('/notifications') ? 'nav__link--active' : '')) Notifications
          li.nav__item: a.nav__link(href="/testing", class=(currentPath.startsWith('/testing') ? 'nav__link--active' : '')) #{layout.tryDemo}
          li.nav__item: a.nav__link(href="/results", class=(currentPath.startsWith('/results') ? 'nav__link--active' : '')) #{layout.demoResults}
    p
    h2 Notifications
    .card
      if project && project.name
        
        script(src='/javascripts/datepicker/jquery-3.3.1.min.js' nonce=`${noncevalue}`)
        link(href='/javascripts/datepicker/datetimepicker.css', rel='stylesheet', type='text/css' nonce=`${noncevalue}`)
        script(type='text/javascript', src='/javascripts/datepicker/datetimepicker.js' nonce=`${noncevalue}`)
        link(rel='stylesheet', href='/javascripts/datepicker/font-awesome.min.css' nonce=`${noncevalue}`)
        link(href='/javascripts/datepicker/jquerysctipttop.css', rel='stylesheet', type='text/css' nonce=`${noncevalue}`)
        script(type='text/javascript', src='/javascripts/datepicker/moment-with-locales.min.js' nonce=`${noncevalue}`)
        link(href='/javascripts/datepicker/daterangepicker.css', rel='stylesheet', type='text/css' nonce=`${noncevalue}`)
        //- script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js' nonce=`${noncevalue}`)
        script(type='text/javascript', src='/javascripts/datepicker/daterangepicker.min.js' nonce=`${noncevalue}`)
               
        .notificationsPanel
          h6 Title
          input#titleContent(type='text', value = 'Open Lab')
          h6 Message
          input#messageContent(type='text', value = 'Please complete a test.')
          p
          #notification_status_schedule
          p 
          #controlButtons(style="display: grid; grid-template-columns: 1fr 1fr 1fr; grid-column-gap: 15px;")
            button(class="buttonContainer" id="scheduleNotification") Schedule 
            button(class="buttonContainer" id="intervalNotification") Interval   
            button(class="buttonContainer" id="individualNotification") Individual  
          
          p
          .notificationContainer(id="scheduleNotificationContainer" style="display:none") 
            p Choose the date and time for notification(s) that will be sent to all participants of your project.
            #dateTimePicker  
              .container_picker
                #picker 
                input#dateresult(class='scheduleInput' type='hidden', value='')
                button(type="button" value="Add a field" id="addDateTimePicker") +
            button(id="create_schedule_notification" class="button") Add
  
          .notificationContainer(id="intervalNotificationContainer" style="display:none")
            p Choose the time period and interval for regular notifications.
            input(type="text", name="datetimes_regular")
            p The interval is specified in a cron format.  
            #cronintervalPicker_regular(class="cronintervalPicker")
              h7(style="text-align: center;") Seconds
              h7(style="text-align: center;") Minutes 
              h7(style="text-align: center;") Hours
              h7(style="text-align: center;") Day of Month 
              h7(style="text-align: center;") Months 
              h7(style="text-align: center;") Day of week 
              input(type='text' id='int_sec_regular')
              input(type='text' id='int_min_regular')
              input(type='text' id='int_hour_regular')
              input(type='text' id='int_day_regular')
              input(type='text' id='int_month_regular')  
              input(type='text' id='int_week_regular')  
            p  
            button(id="create_interval_notification" class="button") Add
              
          
          .notificationContainer(id="individualNotificationContainer" style="display:none")
            p
            p Choose the time period and interval for regular notifications that will depend on the moment when a participant has allowed notifications in your project.  
            input(type="text", name="datetimes_individual")
            p The interval is specified in a cron format.  
            #cronintervalPicker_individual(class="cronintervalPicker")
              h7(style="text-align: center;") Seconds
              h7(style="text-align: center;") Minutes 
              h7(style="text-align: center;") Hours
              h7(style="text-align: center;") Day of Month 
              h7(style="text-align: center;") Months 
              h7(style="text-align: center;") Day of week 
              input(type='text' id='int_sec_individual')
              input(type='text' id='int_min_individual')
              input(type='text' id='int_hour_individual')
              input(type='text' id='int_day_individual')
              input(type='text' id='int_month_individual')  
              input(type='text' id='int_week_individual')  
            p  
            button(id="create_relative_notification" class="button") Add
            
          
        if (project && project.notifications && project.notifications.length > 0)
          h2 Scheduled notifications
          table.table
            thead
              td Type
              td Title 
              td Message
              td Date
              td Interval 
              td Start
              td End
              td Delete
            each notification, i in project.notifications.sort(function(a,b){return a.date - b.date})
              tr(style=`background-color:${(notification.mode === 'Interval' || notification.mode === 'Individual') ? '#fdf4a7' : ((notification.date - new Date()) > 0 ? 'white' : '#f3f0f0')}`) 
                td= notification.mode
                td= notification.title 
                td= notification.message
                td= notification.mode === 'Schedule' ? h.moment(notification.date).locale(language).format('MM-DD-YY, H:mm') : ''
                td= notification.mode === 'Schedule' ? '' : notification.interval
                td= notification.mode === 'Schedule' ? '' : h.moment(notification.int_start).locale(language).format('MM-DD-YY, H:mm')
                td= notification.mode === 'Schedule' ? '' : h.moment(notification.int_end).locale(language).format('MM-DD-YY, H:mm')
                td
                  a(href=`/removenotification/${notification.id}`)
                    != h.icon('remove')
          p  
          button(id="delete_notification" class="button" style="background-color:red; color:white") Delete all notifications    
                         
        script(defer type='text/javascript' nonce=`${noncevalue}`).
          $(document).ready( function () {
              $('#picker').dateTimePicker();
              $('#interval_picker_starting_date').dateTimePicker();
              $('#interval_picker_ending_date').dateTimePicker();
              $('input[name="datetimes_regular"]').daterangepicker({
                timePicker: true,
                startDate: moment().startOf('hour'),
                endDate: moment().startOf('hour').add(32, 'hour'),
                locale: {
                  format: 'M/DD hh:mm A'
                }
              });
              $('input[name="datetimes_individual"]').daterangepicker({
                timePicker: true,
                startDate: moment().startOf('hour'),
                endDate: moment().startOf('hour').add(32, 'hour'),
                locale: {
                  format: 'M/DD hh:mm A'
                }
              });
          }) 
          var pickerNum = 1;
          document.addEventListener('DOMContentLoaded', function (){
            document.querySelectorAll('.buttonContainer').addEventListener('click', function changeContainer(){
              console.log(this.id);
              document.querySelector(`#scheduleNotificationContainer`).style.display = "none";
              document.querySelector(`#intervalNotificationContainer`).style.display = "none";
              document.querySelector(`#individualNotificationContainer`).style.display = "none";
              document.querySelector(`#${this.id}Container`).style.display = "inline-block";
              document.querySelectorAll('.buttonContainer').forEach( b => {b.style.background = "rgba(238, 242, 244, 0.6)"});
              this.style.background = "#11fa71";
            });
            document.getElementById('addDateTimePicker').addEventListener('click', function addPicker() { 
              pickerNum = pickerNum + 1;
              var container = document.getElementById("dateTimePicker");  
              var newPicker = document.createElement('div');
              newPicker.id = `container-picker-${pickerNum}`;
              newPicker.classList.add('container_picker');
              newPicker.style = 'width: 250px; margin: 20px auto;';
              var picker = document.createElement('div');
              picker.id = `picker-${pickerNum}`;
              newPicker.appendChild(picker);
              var input = document.createElement('input');
              input.classList.add('scheduleInput');
              input.type = 'hidden';
              input.value = ''
              input.id = `dateresult-${pickerNum}`
              newPicker.appendChild(input);
              var removePickerBtn = document.createElement('button');
              removePickerBtn.innerText = 'x';
              removePickerBtn.classList.add('removePickerButton');
              removePickerBtn.id = `-${pickerNum}`;
              removePickerBtn.addEventListener('click', removePicker);
              newPicker.appendChild(removePickerBtn);
              container.appendChild(newPicker);
              $(`#picker-${pickerNum}`).dateTimePicker();
            });
          }); 
        
        script(type='text/javascript', src='/javascripts/services/schedule.js' nonce=`${noncevalue}`)
          
      else
        p Create or activate a project



    //- pre= h.dump(project)
