extends layout

include mixins/_chosenTestResults
include mixins/_resultLine

block content

  .inner
    p
    header.top
      nav.nav
        .nav__section.nav__section--pages
          li.nav__item: a.nav__link(href="/data", class=(currentPath.startsWith('/data') ? 'nav__link--active' : '')) #{layout.results}
          li.nav__item: a.nav__link(href="/users", class=(currentPath.startsWith('/users') ? 'nav__link--active' : '')) #{layout.participants}
    p
    .userTable
      
      if project && project.name
        h2 #{`${project.name}`}
      else
        p(style="color:hsl(0,0%,45%)") !{l.create_your_project}
        
      .program
        
        .tasks
          .card
            .items
              if project && projectTests && projectTests.length && projectTests.length > 0
                each test in projectTests
                  +chosenTestResults(test)

        .card
          .parameters
            if (project)
              if (project.tests.length == 0)
                p(style="color:hsl(0,0%,45%)") #{l.noTests}
              else 
                if(typeof(slug) == "undefined")
                  p(style="color:hsl(0,0%,45%)") #{l.chooseTest}
                else 
                  if(typeof(test) == "undefined")
                    p(style="color:hsl(0,0%,45%)") #{l.testNotFound}
                  else 
                    if(typeof(results) == 'undefined')
                      p(style="color:hsl(0,0%,45%)") #{l.noResults}
                    else 
                      if(results.length == 0)
                        p(style="color:hsl(0,0%,45%)") #{l.noResultsYet}
                      else 
                        if(user.project && user.project.name)
                          p
                            a(style={color:'black'} href=`/downloadtestresults/${test.name}/${test._id}`) #{l.results_download_test_results}
                            
                        table.table
                          thead
                            td № 
                            td #{l.results_table_openlabid}
                            td #{l.results_table_code}
                            td #{l.results_table_date}
                            td #{l.results_table_summary}
                            td #{l.results_table_type}
                            td #{l.results_table_size}
                            td #{l.results_table_data}
                          each result, i in results
                            +resultLine(result, i)
                        

     
                //- pre= h.dump(project)
                //- pre= h.dump(test)
                //- pre= h.dump(results)
