doctype html
html
  head
    title= `${title || h.siteName}`
    script(src="/labjs/plugins/gps.js" nonce=`${noncevalue}`)

    if (test && test.production && test.production == 'beta')
      script(src="https://labjs-beta.netlify.com/api/_defaultStatic/lib/lab.js" nonce=`${noncevalue}`)
      link(rel="stylesheet" href="https://labjs-beta.netlify.com/api/_defaultStatic/lib/lab.css")
    else
      if(test.labjsVersion && test.labjsVersion === '19,0,1')
        script(src=`/labjs/${test.labjsVersion}/lab.js` nonce=`${noncevalue}`)
        script(src=`/labjs/${test.labjsVersion}/lab.fallback.js` nonce=`${noncevalue}`)  
        link(rel="stylesheet" href=`/labjs/${test.labjsVersion}/lab.css`)
      else
        script(src=`/labjs/lib/lab.js` nonce=`${noncevalue}`)
        script(src=`/labjs/lib/lab.fallback.js` nonce=`${noncevalue}`)
        link(rel="stylesheet" href="/labjs/lib/lab.css")
  
  body
    div(class="container fullscreen" data-labjs-section="main")
      main(class="content-vertical-center content-horizontal-center")
        div
          img(src='/labjs/lib/loading.svg', alt='loading icon', style='padding: 1rem')
          br
          h2 #{layout.lab_js_loading_title}
          p #{layout.lab_js_loading_1}
          p #{layout.lab_js_loading_2}

    script(nonce=`${noncevalue}`).
      const params = !{JSON.stringify(params)}
      window.addEventListener('message', (event) => {
        //events at the end of the script
      })

    //-upload script
    script(defer type='text/javascript' nonce=`${noncevalue}`).
      !{test.file}

    script(defer nonce=`${noncevalue}`).
      const raw = !{JSON.stringify(test.css) || false};
      if(raw){
        const node = document.createElement('style');
        const style = raw.split('data:text/css,')[1];
        node.innerHTML = window.decodeURIComponent(style);
        document.body.appendChild(node);
      }
