extends layout

block content
  .inner
    .card     
      .studyDescription
        .header
          h4= project.name
          div= `${l.created} ${h.moment(project.created).locale(language).fromNow()}`
          if(author && (author.name || author.institute))  
            div= author.name
            //- div= author.email
            div= author.institute
          p(style="color: #3b4051") !{project.description}
        if project.image
          .div
            img(src=`${project.image}`, alt=project.name width=200)
        
      p
      
      h5= `${l.how_to_participate}`
      if(user && user.participant_projects.map(project => project._id.toString()).includes(project._id.toString()))
        p= l.arleadyParticipant 
        
      else
        h6= l.alreadyAppHeader  
        p= l.already_instruction 
      
        h6= l.firstTimeHeader   
        
        ol.card-message
          p !{l.firstTimeStep_1}
          p= l.firstTimeStep_2 
          p= l.firstTimeStep_3 
        
        h6= l.scanQRcode  
        a(href=`samply://--/study?id=${project._id}`)
          canvas#canvas
        script(src='../javascripts/qrcode.min.js' nonce=`${noncevalue}`)
        script(defer nonce=`${noncevalue}`).
          const id = !{ JSON.stringify(project._id) || ''};
          QRCode.toCanvas(document.getElementById('canvas'), `samply://--/study?id=${id}`, function (error) {  
            if (error) console.error(error)
          })
        
        a(href=`samply://--/study?id=${project._id}`)
          button.button= l.goToStudy

      //- pre=h.dump(project)
      pre=h.dump(author)
