extends layout

block content
  .inner

    h2= project.name
    p
    .card 
      if(author && (author.name || author.institute))   
        .reviews
          .review
            .review__header
              .review__author
                p= author.name
              p= author.institute
              p= `${l.created} ${h.moment(project.created).locale(language).fromNow()}`
            .review__header
              p= project.description
