extends layout

include mixins/_publicProjectCard

block content
  .inner
    
    h2 #{layout.studies}
    
    if(!user)
      p #{layout.already_have_code} 
        a(href='/code') #{layout.here} 
      //- .links(style="display:grid; grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); row-gap:5px; column-gap:2px; justify-items:center;")
      //-   a(href='/code')
      //-     .button(style="width: fit-content; text-align: center; font-size: 2rem; margin:0") Login with the code
      //-   a(href='/participant/login')
      //-     .button(style="width: fit-content; text-align: center; font-size: 2rem; margin:0") Login with email
      //-   a(href='/participant/register')
      //-     .button(style="width: fit-content; text-align: center; font-size: 2rem; margin:0") Create an account
    
    .projects
      each project in projects
        +publicProjectCard(project)
    
    .pagination
      .pagination__prev
        if page > 1
          a(href=`/studies/page/${page - 1}`) #{layout.pagination_prev}
      .pagination__text
        p= `${layout.pagination_page_1} ${page} ${layout.pagination_page_2} ${pages} - ${count} ${layout.pagination_page_3}`
      .pagination__next
        if page < pages
          a(href=`/studies/page/${parseFloat(page) + 1}`) #{layout.pagination_next}

    script(nonce=`${noncevalue}`).
      document.body.style['backgroundSize'] = 'cover';
      document.body.style['backgroundRepeat'] = 'no-repeat';
      document.body.style['backgroundImage'] = "url('/images/photos/balloons.jpg')";     
    
    //- pre= h.dump(projects)
    //- pre= h.dump(user)
