extends layout

include mixins/_publicProjectCard

block headers
  meta(name="Description" content="Samply, notifications, experience-based sampling")

block background-image 
  .bg-image-studies
    
block content
  
  .inner
    
    #notSupportedInfo(style='display:none')
      .flash.flash--error #{layout.not_supported} 

    h2 #{layout.studies}
    
    if(!user)
      p #{layout.already_have_code} 
        a(href='/code') #{layout.here} 
    
    .projects
      each project in projects
        +publicProjectCard(project)
    
    .pagination
      .pagination__prev
        if page > 1
          a(href=`/studies/page/${page - 1}`) #{layout.pagination_prev}
      .pagination__text
        p= `${layout.pagination_page_1} ${page} ${layout.pagination_page_2} ${pages} - ${count} ${layout.pagination_page_3}`
      .pagination__next
        if page < pages
          a(href=`/studies/page/${parseFloat(page) + 1}`) #{layout.pagination_next}

    script(nonce=`${noncevalue}`).
      //- document.body.style['backgroundSize'] = 'cover';
      //- document.body.style['backgroundRepeat'] = 'no-repeat';
      //- document.body.style['backgroundImage'] = "url('/images/photos/balloons.jpg')";     
      //- 
      //register service worker
      if (!'serviceWorker' in navigator || !'PushManager' in window) {
        document.querySelector('#notSupportedInfo').style.display = "block";
      };
    
