extends layout

include mixins/_iban
include mixins/_cardpayment
include mixins/_chooseTimePlan

block content
  script(src='https://js.stripe.com/v3/' nonce=`${noncevalue}`)
  .inner
    script(nonce=`${noncevalue}`).
      const stripe = Stripe( `#{stripePublishableKey}` )
      const elements = stripe.elements()

    p
    header.top
      nav.nav
        .nav__section.nav__section--pages
          li.nav__item: a.nav__link(href="/account", class=(currentPath.startsWith('/account') ? 'nav__link--active' : '')) #{layout.account}
          li.nav__item: a.nav__link(href="/subscribe", class=(currentPath.startsWith('/subscribe') ? 'nav__link--active' : '')) #{layout.subscription}
    p

    if plan
      +chooseTimePlan(plan, period)
    if (plan && period && (period == "month" || period == "quarter" || period == "year") )
      +cardpayment(plan, period)

    if !plan
      h2 #{layout.subscription}
      p
      if user.subscription && (Date.now() < user.subscription_expires * 1000) && user.subscription_plan == 'professional'
        .plan-compare
          .panel
            span.plan-current #{layout.freeSandbox}
            p.plan_icon.icon-plan.icon-plan--1
            p.plan_emails 100
            p.plan_emails-label #{layout.participantsPerProject}
            p.plan_emails 1
            p.plan_emails-label #{layout.project}
            p.plan_emails -
            p.plan_emails-label #{layout.mailInvitations}
            .plan_price
              p.plan_monthly €0.00/#{layout.month}
              p.plan_overages
          .panel.plan.plan--old(data-tooltip='')
            span.plan-current #{layout.currentPlan}
            p.plan_icon.icon-plan.icon-plan--2
            p.plan_emails 500
            p.plan_emails-label #{layout.participantsPerProject}
            p.plan_emails 5
            p.plan_emails-label #{layout.pricingProjects}
            p.plan_emails 1000
            p.plan_emails-label #{layout.mailInvitations}
            //- .plan_price
            //-   p.plan_monthly €7.00/#{layout.month}
            //-   p.plan_overages
            if user.subscription_status == 'active'
              p
              form#subscription-cancel-form(action='/subscription/cancel', method='post')
                input.button(type="submit" class="button" value=l.stopSubscription)
              p= `${l.nextBilling} ${h.moment((user.subscription_expires - 86400) * 1000).locale(language).format('MM-DD-YYYY')}`

            else if user.subscription_status == 'stopped'
              p
              form#subscription-cancel-form(action='/subscription/reactivate', method='post')
                input.button(type="submit" class="button" value=l.reactivateSubscription)
              p= `${l.stoppedSubscription} ${h.moment((user.subscription_expires - 86400) * 1000).locale(language).format('MM-DD-YYYY')}`

          .panel
            span.plan-current #{layout.laboratoryPlan}
            p.plan_icon.icon-plan.icon-plan--2
            p.plan_emails #{layout.unlimited}
            p.plan_emails-label #{layout.participantsPerProject}
            p.plan_emails #{layout.unlimited}
            p.plan_emails-label #{layout.pricingProjects}
            p.plan_emails #{layout.unlimited}
            p.plan_emails-label #{layout.mailInvitations}
            .plan_price
              p.plan_monthly #{layout.from} €15.00/#{layout.month} #{layout.ifBilledAnnualy}
              p.plan_overages
        p

      else if user.subscription && (Date.now() < user.subscription_expires * 1000) && user.subscription_plan == 'laboratory'
        .plan-compare
          .panel
            span.plan-current #{layout.freeSandbox}
            p.plan_icon.icon-plan.icon-plan--1
            p.plan_emails 100
            p.plan_emails-label #{layout.participantsPerProject}
            p.plan_emails 1
            p.plan_emails-label #{layout.project}
            p.plan_emails -
            p.plan_emails-label #{layout.mailInvitations}
            .plan_price
              p.plan_monthly €0.00/#{layout.month}
              p.plan_overages
          .panel
            span.plan-current #{layout.professionalPlan}
            p.plan_icon.icon-plan.icon-plan--2
            p.plan_emails 500
            p.plan_emails-label #{layout.participantsPerProject}
            p.plan_emails 5
            p.plan_emails-label #{layout.pricingProjects}
            p.plan_emails 1000
            p.plan_emails-label #{layout.mailInvitations}
            .plan_price
              p.plan_monthly #{layout.from} €6.00/#{layout.month} #{layout.ifBilledAnnualy}
              p.plan_overages
          .panel.plan.plan--old(data-tooltip='')
            span.plan-current #{layout.currentPlan}
            p.plan_icon.icon-plan.icon-plan--2
            p.plan_emails #{layout.unlimited}
            p.plan_emails-label #{layout.participantsPerProject}
            p.plan_emails #{layout.unlimited}
            p.plan_emails-label #{layout.pricingProjects}
            p.plan_emails #{layout.unlimited}
            p.plan_emails-label #{layout.mailInvitations}
            //- .plan_price
            //-   p.plan_monthly €20.00/#{layout.month}
            //-   p.plan_overages
            if user.subscription_status == 'active'
              p
              form#subscription-cancel-form(action='/subscription/cancel', method='post')
                input.button(type="submit" class="button" value=l.stopSubscription)
              p= `${l.nextBilling} ${h.moment((user.subscription_expires - 86400) * 1000).locale(language).format('MM-DD-YYYY')}`
            else if user.subscription_status == 'stopped'
              p
              form#subscription-cancel-form(action='/subscription/reactivate', method='post')
                input.button(type="submit" class="button" value=l.reactivateSubscription)
              p= `${l.stoppedSubscription} ${h.moment((user.subscription_expires - 86400) * 1000).locale(language).format('MM-DD-YYYY')}`

        p

      else
        .plan-compare
          .panel.plan.plan--old(data-tooltip='')
            span.plan-current #{layout.currentPlan}
            p.plan_icon.icon-plan.icon-plan--1
            p.plan_emails 100
            p.plan_emails-label #{layout.participantsPerProject}
            p.plan_emails 1
            p.plan_emails-label #{layout.project}
            p.plan_emails -
            p.plan_emails-label #{layout.mailInvitations}
            .plan_price
              p.plan_monthly €0.00/#{layout.month}
              p.plan_overages
          .panel(class=plan=='professional'&&'clickedPlan')
            span.plan-current #{layout.professionalPlan}
            p.plan_icon.icon-plan.icon-plan--2
            p.plan_emails 500
            p.plan_emails-label #{layout.participantsPerProject}
            p.plan_emails 5
            p.plan_emails-label #{layout.pricingProjects}
            p.plan_emails 1000
            p.plan_emails-label #{layout.mailInvitations}
            .plan_price
              p.plan_monthly #{layout.from} €6.00/#{layout.month} #{layout.ifBilledAnnualy}
              p.plan_overages
            a(type="link" class="nav__link button" href=`/subscribe/professional`) #{layout.upgradePlan}
          .panel(class=plan=='laboratory'&&'clickedPlan')
            span.plan-current #{layout.laboratoryPlan}
            p.plan_icon.icon-plan.icon-plan--2
            p.plan_emails #{layout.unlimited}
            p.plan_emails-label #{layout.participantsPerProject}
            p.plan_emails #{layout.unlimited}
            p.plan_emails-label #{layout.pricingProjects}
            p.plan_emails #{layout.unlimited}
            p.plan_emails-label #{layout.mailInvitations}
            .plan_price
              p.plan_monthly #{layout.from} €15.00/#{layout.month} #{layout.ifBilledAnnualy}
              p.plan_overages
            a(type="link" class="nav__link button" href=`/subscribe/laboratory`) #{layout.upgradePlan}
        p
