extends layout

block content
  .inner
    if(user && user.level < 10)
      .card
        
        if(!project || typeof(project) == 'null')
          p Choose the study from the list of studies  
            a(href=`/studies`) here

        else
          
          h6 !{l.name} 
          p(style="color: #3b4051") !{project.name}
          
          h6 !{l.description}  
          p(style="color: #3b4051") !{project.description}
          
          h6 !{l.welcome} 
          p(style="color: #3b4051") !{project.welcomeMessage}
          
          if(user.participant_projects.map(project => project._id.toString()).includes(study))

            h6 !{l.sign_out} 
          
          else 
            
            h6 !{l.instructions} 
            p !{l.mobile_invite_1}
            p !{l.mobile_invite_2}
            
            h6
              .headerLink !{l.way_1_header} 
            
            table.table
              tr
                td !{l.direct_link}
                td
                  input(type="text" value=`samply://--/study?name=${project.slug}` id="direct" readonly)
                  button(class="copyButton" id="directButton") #{l.copy_link}
                  
            
            p !{l.direct_link_1}
            p !{l.direct_link_2}
            p !{l.direct_link_3}
            
            h6 
              .headerLink !{l.way_2_header} 
            
            p !{l.finding_study}
            
            script(nonce=`${noncevalue}`).
              document.addEventListener('DOMContentLoaded', function (){
                const btns = document.getElementsByClassName('copyButton');
                for(let i = 0; i < btns.length; i++) {
                  btns[i].addEventListener("click", function(e) {
                    const textId = e.currentTarget.id.split("Button")[0]
                    const copyText = document.getElementById(textId);
                    copyText.select();
                    document.execCommand("copy");
                    document.getElementById(e.currentTarget.id).style.background = "#f3e9e9";
                  })
                }
              });
            
                    
      
      //- pre=h.dump(project)
      //- pre=h.dump(user)
