extends layout

block content
  .inner
    .card
    
      if(!project || typeof(project) == 'null')
        form.form(action="/account" method="POST")
          h2 #{l.message_choose_project}
          p
          .custom-select-header
            select(name="participantInProject")
              each project in projects
                option(value=project._id, selected=(project.name === study))= project.name
          p(style='white-space:pre;')
          input.button( type="submit" value=l.message_enter )

      else

        h6(style="color: #3b4051") !{project.welcomeMessage}
        
        p= `To participate in the study ${project.name}, please do the following:` 
        
        p 1. Install the application on your Android phone
        button.button(id="installApp") Install
              
        if (project.useNotifications)
          p 2. Allow this application to send you notifications
          .notificationsPanel
            button(id="enable_notifications" class="button") Allow
            button(id="disable_notifications" class="button") Cancel subscription 
            #notification_status
            
    script(src="/javascripts/services/notifications.js" nonce=`${noncevalue}`)


    pre= h.dump(user)
    pre= h.dump(project)
    pre= h.dump(projects)
