extends layout

include mixins/_chosenTestCard

block content
  .tasks
    h2 Tasks
      .items
        each test in tests
          +chosenTestCard(test)
    .inner
      if results[0]
        h2 #{results[0].fullName}
      else
        h2 There is no data for this test

      if results[0]
        table.table
          thead
            td number
            td user ID
            td date
            td results
            td data
            td meta
          each result, i in results
            tr
              td #{i + 1}
              td= result.authorID
              td= h.moment(result.created).locale(language).format('MMMM Do YYYY, h:mm:ss a')
              td= JSON.stringify(result.score)
              td
                a(href=`/database/${result.test}/${result.author_id}/${result._id}`) Download
              td
                a(href=`/downloadmeta/${result.test}/${result.author_id}/${result._id}`) Download

        //-pre=h.dump(user)
        //-pre=h.dump(results)
