extends layout

include mixins/_testCard

block content
  .inner
    p
    header.top
      nav.nav
        .nav__section.nav__section--pages
          li.nav__item: a.nav__link(href="/tests/all", class=(currentPath.startsWith('/tests/all') ? 'nav__link--active' : '')) #{layout.allTasks}
          li.nav__item: a.nav__link(href="/tests/my", class=(currentPath.startsWith('/tests/my') ? 'nav__link--active' : '')) #{layout.myTasks}
          li.nav__item: a.nav__link(href="/tests/add", class=(currentPath.startsWith('/tests/add') ? 'nav__link--active' : '')) #{layout.addTask}
    p
    if (title == "My tests")
      h2 #{layout.myTasks}
    else if (title == "All tests")
      h2 #{layout.allTasks}
    
    if tags
      .tags
        each t in tags
          li.tag
            a.tag__link(href = `/tests/all/${t._id}` class=(t._id === tag ? 'tag__link--active' : ''))
              span.tag__text= layout[t._id]
              span.tag__count= t.count
                
    p
    .stores
      each test in tests
        if(user.level > 10)
          +testCard(test)
    
    .pagination
      .pagination__prev
        if page > 1
          a(href=`/tests/${type}/${tag ? tag + '/' : ''}page/${page - 1}`) #{l.pagination_prev} 
      .pagination__text
        p= `${l.pagination_page_1} ${page} ${l.pagination_page_2} ${pages} - ${count} ${l.pagination_page_3}` 
      .pagination__next
        if page < pages
          a(href=`/tests/${type}/${tag ? tag + '/' : ''}page/${parseFloat(page) + 1}`) #{l.pagination_next}
          
        
    //- pre= h.dump(tags)
    //- pre= h.dump(tests)
    //- pre= h.dump(user)
