extends layout

block content
  .inner
    if(user && user.level < 10)
      .card
        
        if(!project || typeof(project) == 'null')
          form.form(action="/account" method="POST")
            h2 #{l.message_choose_project}
            p
            .custom-select-header
              select(name="participantInProject")
                each project in projects
                  option(value=project._id, selected=(project.name === study))= project.name
            p(style='white-space:pre;')
            input.button( type="submit" value=l.message_enter )

        else
          
          if(user.participant_projects.map(id => id.toString()).includes(user.participantInProject.toString()))
            #notification_status
            button(id="unsubscribeFromStudy" class="button" style="max-width:150px") #{layout.unsubscribe} 
            #subscription_status= `${layout.click_to_unsuscribe}`
          
          else 
            
            h6(style="color: #3b4051") !{project.welcomeMessage}
            //- p= `${layout.to_participate} ${project.name}${layout.do_the_following}` 
        
            //- p #{layout.install_instruction}
            //- #{layout.check_green_button}
            //- #installation_status 
            
            p #{layout.subscribe_notifications} 
            .notificationsPanel
              button(id="enable_notifications" class="button" style="max-width:150px") #{layout.subscribe_to}
              button(id="disable_notifications" class="button" style="max-width:150px") Cancel notifications
              #notification_status
                      
      script(src="/javascripts/services/notifications.js" nonce=`${noncevalue}`)
      
      
      //- pre= h.dump(user)
