extends layout

block content
  .inner
    h2 Top #{users.length} users
    //-h2 Top results
    table.table
      thead
        td Position
        td Name
        td Tests
        td Total score
      each user, i in users
        if user.level < 100
          tr
            //-td: a(href=`/users/${user._id}`)= user.name
            td= i + 1
            td= user.name
            td= user.numberTests
            td #{Math.round(user.averageRating * 10)/10}

    //-pre=h.dump(users)
