mixin faq()

  h2= l.faqTitle

  dl.faq
    dt= l.faq_q_surveybuilder
    dd!= l.faq_a_surveybuilder

    dt= l.faq_q_when_enough
    dd= l.faq_a_when_enough

    dt= l.faq_q_integrated
    dd= l.faq_a_integrated

    dt= l.faq_q_smaat
    dd!= l.faq_a_smaat
    
  h5
    .headerLink #{l.ask_question_header}
  form(action=`/faq` method = 'POST')
    textarea(name='question' placeholder=l.type_in_your_question required)
    input(type='submit' value=l.send_question_btn class="button")