mixin intro()

  h5
    .headerLink !{l.navigation_title}
  p.card-message
    | #{l.navigation_1}
  ol.card-message
    li #{l.navigation_1_1}
    li #{l.navigation_1_2}
    li #{l.navigation_1_3}

  p.card-message
    | #{l.navigation_2}

  p.card-message
    | #{l.navigation_3}

  p.card-message
    | #{l.navigation_4}
