mixin notifications()

  h5 
    .headerLink !{l.notifications_title}
  p.card-message 
    | !{l.notifications_1} 
     
  p.card-message 
    | !{l.notifications_2} 
    
  p.card-message 
    | !{l.notifications_3} 
    
  ol
    li 
      p.card-message !{l.notifications_3_1} 
      | !{l.notifications_3_2} 
    li 
      p.card-message !{l.notifications_4_1} 
      | !{l.notifications_4_2} 
    li 
      p.card-message !{l.notifications_5_1} 
      | !{l.notifications_5_2} 
    li 
      p.card-message !{l.notifications_6_1} 
      | !{l.notifications_6_2} 
    li 
      p.card-message !{l.notifications_7_1} 
      | !{l.notifications_7_2} 
    li 
      p.card-message !{l.notifications_8_1} 
      | !{l.notifications_8_2} 
    li 
      p.card-message !{l.notifications_9_1} 
      | !{l.notifications_9_2} 
    li 
      p.card-message !{l.notifications_10_1} 
      | !{l.notifications_10_2} 
    li 
      p.card-message !{l.notifications_11_1} 
      | !{l.notifications_11_2} 

  
  p.card-message 
    | !{l.notifications_11} 
    
  h5#placeholders 
    .headerLink !{l.queryTitle}  
    
  table
    tr
      th #{l.queryPlaceholder}  
      th #{l.queryName} 
      th #{l.queryInformation} 
    tr
      td %MESSAGE_ID%
      td #{l.queryMessage} 
      td #{l.queryMessageInfo}  
    tr
      td %SAMPLY_ID%
      td #{l.querySamplyID} 
      td #{l.querySamplyIDInfo}  
    tr
      td %PARTICIPANT_CODE%
      td #{l.queryCode}  
      td #{l.queryCodeInfo}  
    tr
      td %GROUP_ID%
      td #{l.queryGroupID} 
      td #{l.queryGroupIDInfo} 
    tr
      td %TIMESTAMP_SENT%
      td #{l.queryTime} 
      td #{l.queryTimeInfo}
    tr
      td %BATCH%
      td #{l.queryBatch} 
      td #{l.queryBatchInfo} 
