mixin notifications()

  h5 
    .headerLink !{l.notifications_title}
  p.card-message 
    | !{l.notifications_1} 
     
  p.card-message 
    | !{l.notifications_2} 
    
  p.card-message 
    | !{l.notifications_3} 
    
  ol
    li 
      p.card-message !{l.notifications_4_1} 
      | !{l.notifications_4_2} 
    li 
      p.card-message !{l.notifications_5_1} 
      | !{l.notifications_5_2} 
    li 
      p.card-message !{l.notifications_6_1} 
      | !{l.notifications_6_2} 
    li 
      p.card-message !{l.notifications_7_1} 
      | !{l.notifications_7_2} 
    li 
      p.card-message !{l.notifications_8_1} 
      | !{l.notifications_8_2} 
    li 
      p.card-message !{l.notifications_9_1} 
      | !{l.notifications_9_2} 

  
  p.card-message 
    | !{l.notifications_10} 
    
  
