mixin notifications()

  h5 
    .headerLink !{l.notifications_title}
  p.card-message 
    | !{l.notifications_1} 
     
  p.card-message 
    | !{l.notifications_2} 
    
  p.card-message 
    | !{l.notifications_3} 
    
  ol
    li 
      p.card-message !{l.notifications_4_1} 
      | !{l.notifications_4_2} 
    li 
      p.card-message !{l.notifications_5_1} 
      | !{l.notifications_5_2} 
    li 
      p.card-message !{l.notifications_6_1} 
      | !{l.notifications_6_2} 
    li 
      p.card-message !{l.notifications_7_1} 
      | !{l.notifications_7_2} 
    li 
      p.card-message !{l.notifications_8_1} 
      | !{l.notifications_8_2} 
    li 
      p.card-message !{l.notifications_9_1} 
      | !{l.notifications_9_2} 

  
  p.card-message 
    | !{l.notifications_10} 
    
  h5 
    .headerLink Query placeholders
    
  table
    tr
      th Placeholder
      th Name
      th Information
    tr
      td %MESSAGE_ID%
      td Message ID
      td Each notification has a unique ID
    tr
      td %SAMPLY_ID%
      td Samply ID
      td The ID of participant on the platform Samply
    tr
      td %PARTICIPANT_CODE%
      td Participant code
      td The participant code entered by a participant when joining your study
    tr
      td %GROUP_ID%
      td Samply ID
      td The group code entered by a participant when joining your study
    tr
      td %TIMESTAMP_SENT%
      td Timestamp 
      td When the message is sent from the server (the number of milliseconds elapsed since January 1, 1970)
