mixin notifications()

  h5 
    .headerLink !{l.project_projects_title}
  p.card-message 
    | #{l.project_projects_1}
    
  p.card-message 
    | #{l.project_projects_2}
  
  p.card-message 
    | #{l.project_projects_3}
    
  
  h5 
    .headerLink !{l.data_invitations_title}
  p.card-message 
    | #{l.data_invitations_1}
  p.card-message
    | #{l.data_invitations_2}
  p.card-message
    | #{l.data_invitations_3}
