mixin project()

  h5 
    .headerLink !{l.project_projects_title}
  p.card-message 
    | #{l.project_projects_1}
    
  p.card-message 
    | #{l.project_projects_2}
  
  p.card-message 
    | #{l.project_projects_3}
    
  h5 
    .headerLink !{l.project_tasks_title}
  p.card-message 
    | #{l.project_tasks_1}
  
  h5 
    .headerLink !{l.project_parameters_title}
  p.card-message 
    | #{l.project_parameters_1}
  
  p.card-message
    | !{l.project_parameters_2}
  
  h5 
    .headerLink !{l.data_invitations_title}
  p.card-message 
    | #{l.data_invitations_1}
  p.card-message
    | #{l.data_invitations_2}
  p.card-message
    | #{l.data_invitations_3}

  h5 
    .headerLink !{l.project_demo_title}
  p.card-message 
    | #{l.project_demo_1}
  
  h5 
    .headerLink !{l.project_demoResults_title}
  p.card-message 
    | #{l.project_demoResults_1}
    
    
