mixin upload()

  h5
    .headerLink !{l.upload_allTasks_title}
  p.card-message
    | !{l.upload_allTasks_1}
    
  h5 
    .headerLink !{l.upload_myTasks_title}
  p.card-message
    | #{l.upload_myTasks_1}

  h5 
    .headerLink !{l.upload_newTask_title}
  p.card-message 
    | #{l.upload_newTask_1}
