mixin chooseTimePlan(plan, period = {})
  
  //- form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
    input(type='hidden', name='cmd', value='_s-xclick')
    input(type='hidden', name='hosted_button_id', value='ECCNAQFETMFAG')
    input(type='image', src='https://www.paypalobjects.com/en_US/DE/i/btn/btn_buynowCC_LG.gif', name='submit', alt='PayPal - The safer, easier way to pay online!', border='0')
    img(alt='', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1', border='0')


  if (plan == 'professional')
    h2 #{layout.professionalPlan}
    .plan-compare
      .panel(class=period=='year'&&'clickedPlan')
        span.plan-current #{layout.annual}
        p
        p.plan_emails €6.00 / #{layout.month}
        a(type="link" class="nav__link button" href=`/subscribe/${plan}/year`) #{layout.select}
        p #{layout.billedAsOnePayment} €72.00
      .panel(class=period=='quarter'&&'clickedPlan')
        span.plan-current #{layout.quarterly} 
        p
        p.plan_emails €8.00 / #{layout.month}
        a(type="link" class="nav__link button" href=`/subscribe/${plan}/quarter`) #{layout.select}
        p #{layout.billedAsOnePayment} €24.00
      .panel(class=period=='month'&&'clickedPlan')
        span.plan-current #{layout.monthly}
        p
        p.plan_emails €10.00 / #{layout.month}
        a(type="link" class="nav__link button" href=`/subscribe/${plan}/month`) #{layout.select}
        p #{layout.billedAsOnePayment} €10.00
  
  if (plan == 'laboratory')
    h2 #{layout.laboratoryPlan}
    .plan-compare
      .panel(class=period=='year'&&'clickedPlan')
        span.plan-current #{layout.annual}
        p
        p.plan_emails €15.00 / #{layout.month}
        a(type="link" class="nav__link button" href=`/subscribe/${plan}/year`) #{layout.select}
        p #{layout.billedAsOnePayment} €180.00
      .panel(class=period=='quarter'&&'clickedPlan')
        span.plan-current #{layout.quarterly} 
        p
        p.plan_emails €20.00 / #{layout.month}
        a(type="link" class="nav__link button" href=`/subscribe/${plan}/quarter`) #{layout.select}
        p #{layout.billedAsOnePayment} €60.00
      .panel(class=period=='month'&&'clickedPlan')
        span.plan-current #{layout.monthly}  
        p
        p.plan_emails €25.00 / #{layout.month}
        a(type="link" class="nav__link button" href=`/subscribe/${plan}/month`) #{layout.select}
        p #{layout.billedAsOnePayment} €25.00
    
