mixin constructorTestCard(test = {})
  .store
    .store__hero
      h2.title
        a(href=`/tests/test/${test.slug}`) #{test.name}
    .store__details
      .project__actions
        if user && project
          .store__action.store__action--heart
            form.heart(method="POST" action=`/api/tests/${test._id}/add`)
              - const testStrings = project.tests.map(obj => obj.toString())
              - const testClass = testStrings.includes(test._id.toString()) 
              button.heart__button(type="submit" name="add" class=testClass)
                if (testClass)
                  != h.icon('checked')
                else 
                  != h.icon('add-plus')         
        if user 
          .store__action.store__action--edit
            a.heart__button(href=`/tests/${test._id}/json`)
              != h.icon('download-blue')
              
      if(test && test.description)
        p= test.description.split(' ').length > 10 ? test.description.split(' ').slice(0,10).join(' ').concat(' ...') : test.description

      //- img(src=`/uploads/${test.photo || 'store.png' }`)
      
