mixin howitworksResearcher()
  .form
    h5 #{layout.howitworks}

    h7
      .headerLink #{l.header_steps}
    ol.card-message
      li !{l.step_1}
      li #{l.step_2}
      li #{l.step_3}

    h7
      .headerLink #{l.header_features}
    ul.card-message
      li #{l.feature_1}
      li !{l.feature_2}
      li #{l.feature_3}
      li #{l.feature_4}
      li #{l.feature_5}
      li #{l.feature_6}
      li #{l.feature_7}
      
    h7
      .headerLink #{l.header_advantages}
    p.card-message #{l.advantage_1}
    p.card-message #{l.advantage_2}
    p.card-message #{l.advantage_3}
    p.card-message #{l.advantage_4}
    p.card-message !{l.slack_chat}
