mixin howitworksParticipant()
  .form
    h5 #{layout.howitworks}

    p.card-message #{layout.worksParticipants_1}
    p.card-message #{layout.worksParticipants_2}
    h7
      .headerLink #{layout.worksParticipants_3}
    ul.card-message
      li #{layout.worksParticipants_3_1}
      li #{layout.worksParticipants_3_2}
    h7 
      .headerLink #{layout.worksParticipants_4}
    ul.card-message
      li #{layout.worksParticipants_4_1}
      li #{layout.worksParticipants_4_2}
