mixin loginResearcher()
  form.loginForm(action="/auth/researcher/email/login" method="POST")
    h5 Samply
    input(type="email" name="email" placeholder="Email" style="border-top-left-radius: 6px; border-top-right-radius: 6px;")
    input(type="password" name="password" placeholder="Password" style="border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;")
    p
    input.button(type="submit" value=layout.log_in)
  
    p
      | #{layout.do_not_have_an_account}
      br
      a(style={color:'black'} href=`/researcher/register`) #{layout.create_researcher_account}
    
    p
      | !{layout.create_participant_account}
      
    p
      a(style={color:'black'} href=`/researcher/forgot`) #{layout.message_forgot_password}
      
