mixin loginParticipantForm(email)
  form.loginForm(action="/auth/participant/email/login" method="POST")
    h5 #{layout.participantLogin}
    input(type="email" name="email" value=email placeholder="Email" style="border-top-left-radius: 6px; border-top-right-radius: 6px;")
    input(type="password" name="password" placeholder="Password" style="border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;")
    p
    input.button(type="submit" value=layout.log_in)
    p
      a(style={color:'black'} href=`/participant/forgot`) #{layout.message_forgot_password} 
    
    script(nonce=`${noncevalue}`).
      document.body.style['backgroundSize'] = 'cover';
      document.body.style['backgroundRepeat'] = 'no-repeat';
      document.body.style['backgroundImage'] = "url('/images/photos/participant-login.jpg')";
