mixin loginResearcher()
  form.loginForm(action="/auth/researcher/email/login" method="POST")
    h5 samply
    //- label(for="email") #{layout.email}
    input(type="email" name="email" placeholder="Email" style="border-top-left-radius: 6px; border-top-right-radius: 6px;")
    //- label(for="password") #{layout.password}
    input(type="password" name="password" placeholder="Password" style="border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;")
    p
    input.button(type="submit" value=layout.log_in)
    p
      a(style={color:'black'} href=`/researcher/forgot`) #{layout.message_forgot_password}
    
    a(style={color:'black'} href=`/researcher/register`) 
      div.button(style="width: 100%") Create a researcher account
      
      
    script(nonce=`${noncevalue}`).
      document.body.style['backgroundSize'] = 'cover';
      document.body.style['backgroundRepeat'] = 'no-repeat';
      document.body.style['backgroundImage'] = "url('/images/photos/lake.jpg')";
    
