mixin pricingResearcher()

  .form
    h5 #{layout.pricingPlans}
    a(href=`/researcher/register`)
      .plan-compare
        .panel.plan.plan--current(data-tooltip='')
          span.plan-current #{layout.freeSandbox}
          p.plan_icon.icon-plan.icon-plan--1
          p.plan_emails #{process.env.FREE_PLAN_PARTICIPANTS_LIMIT}
          p.plan_emails-label #{layout.participantsPerProject}
          p.plan_emails #{process.env.FREE_PLAN_PROJECTS_LIMIT}
          p.plan_emails-label #{layout.project}
          p.plan_emails -
          p.plan_emails-label #{layout.mailInvitations}
          .plan_price
            p.plan_monthly €0.00/#{layout.month}
            p.plan_overages
        .panel.plan.plan--current(data-tooltip='')
          span.plan-current #{layout.professionalPlan}
          p.plan_icon.icon-plan.icon-plan--2
          p.plan_emails #{process.env.PROF_PLAN_PARTICIPANTS_LIMIT}
          p.plan_emails-label #{layout.participantsPerProject}
          p.plan_emails #{process.env.PROF_PLAN_PROJECTS_LIMIT}
          p.plan_emails-label #{layout.pricingProjects}
          p.plan_emails #{process.env.PROF_PLAN_INVITATIONS_LIMIT}
          p.plan_emails-label #{layout.mailInvitations}
          .plan_price
            p.plan_monthly #{layout.from} €6.00/#{layout.month} #{layout.ifBilledAnnualy}
            p.plan_overages
        .panel.plan.plan--current(data-tooltip='')
          span.plan-current #{layout.laboratoryPlan}
          p.plan_icon.icon-plan.icon-plan--2
          p.plan_emails #{layout.unlimited}
          p.plan_emails-label #{layout.participantsPerProject}
          p.plan_emails #{layout.unlimited}
          p.plan_emails-label #{layout.pricingProjects}
          p.plan_emails #{layout.unlimited}
          p.plan_emails-label #{layout.mailInvitations}
          .plan_price
            p.plan_monthly #{layout.from} €15.00/#{layout.month} #{layout.ifBilledAnnualy}
            p.plan_overages
