mixin projectForm(project = {})

  form(action=`/projects/${project._id || ''}` method = 'POST')
    label(for='name') #{l.name}
    input(type='text' name='name' value=project.name required)
      
    label(for='description') #{l.description}
    textarea(type='text' name='description')= project.description

    label(for='welcomeMessage') #{l.welcomeMessage}
    textarea(type='text' name='welcomeMessage')= project.welcomeMessage
    
    label(for='codeMessage') #{l.codeMessage}
    div.inputCheckBox
      input(type='checkbox' id= 'askParticipantCode' name= 'askParticipantCode' checked = project.settings && project.settings.askParticipantCode)
      label(for='askParticipantCode')
        span.
          #{l.askUsername}
    textarea(type='text' name='codeMessage')= project.codeMessage
    
    label(for='messageAfterJoin') #{l.messageAfterJoin}
    textarea(type='text' name='messageAfterJoin')= project.messageAfterJoin
    
    label(for='image') #{l.imageURL} 
    input(type='text' name='image' value=project.image)
    
    p
    .div(id="membersList")
      label(for="members") #{l.invite_members}
      if membersEmails && membersEmails.length > 0
        each memberEmail in membersEmails
          .invitation_row
            input(type='text' name='members' value=memberEmail)
            .checkmark 
              p ✅
      p
      input(type='text' name='members')
    .div(id="newMember")
            
    script(nonce=`${noncevalue}`).
      document.addEventListener('DOMContentLoaded', function (){
        document.getElementById('addFieldButton').addEventListener('click', function addField() { 
          var container = document.getElementById("newMember");
          var input = document.createElement("input");
          input.type = "text";
          input.name = "members";
          container.appendChild(input);
        });
      });
    
    button(type="button" value="Add a field" id="addFieldButton") #{l.add_field}
    p
    
    if(true)
    
      h5 Geofencing (available only in the beta version of the Samply Research mobile app)
      div.inputCheckBox
        input(type='checkbox' id= 'enableGeofencing' name= 'enableGeofencing' checked = project.settings && project.settings.enableGeofencing)
        label(for='enableGeofencing')
          span.
            Enable Geofencing
      
      label(for='geofencingInstruction') Please provide the information about the geofencing to the participant. This instruction will be shown when the participant has joined your study.
      textarea(type='text' name='geofencingInstruction')= project.geofencingInstruction
      
      label(for='geofencingURL') Enter the link to your online survey (the link will be sent with the notification)
      input(type='text' name='geofencingURL' value=project.settings && project.settings.geofencing && project.settings.geofencing.link)
      
      label(for='geofencingURL') If you ask participants to provide their own locations, specify the radius (in meters) for a location
      input(type='text' name=`userLocationRadius` value=project.settings && project.settings.geofencing && project.settings.geofencing.radius placeholder="radius (in meters)")
    
      label(for='coordinates' id="coordinates") Enter GPS coordinates
      
      if (project.settings && project.settings.geofencing && project.settings.geofencing.locations)
        each location, i in project.settings.geofencing.locations
          .div(id=`div-${location.slug}`)
            h6= location.title
            input(type='text' name=`slug-${location.slug}` value=location.slug hidden)
            input(type='text' name=`title-${location.slug}` value=location.title)
            input(type='text' name=`latitude-${location.slug}` value=location.latitude placeholder="latitude")
            input(type='text' name=`longitude-${location.slug}` value=location.longitude placeholder="longitude")
            input(type='text' name=`radius-${location.slug}` value=location.radius placeholder="radius (in meters)")
            
            div.inputCheckBox
              input(type='checkbox' id=`event-enter-${location.slug}` name=`event-enter-${location.slug}` checked = location.events && location.events.includes('enter'))
              label(for=`event-enter-${location.slug}`) Notify on enter
            
            div.inputCheckBox
              input(type='checkbox' id=`event-exit-${location.slug}` name=`event-exit-${location.slug}` checked = location.events && location.events.includes('exit'))
              label(for=`event-exit-${location.slug}`) Notify on exit
                  
            button(name="deleteBtn" id=`delete-${location.slug}`) Delete
            p  
            
      p
      input(type="text" name= "locationName" id="locationName" placeholder="Location name")
      button.button(type="button" value="Add new location" id="addLocationButton") Add location   
    
    
    script(nonce=`${noncevalue}`).
      document.addEventListener('DOMContentLoaded', function (){
        document.querySelectorAll('button[name="deleteBtn"]').forEach((button) => {
          button.addEventListener('click', (e) => {
            e.preventDefault();
            button.parentElement.remove();
         });
        })
        document.getElementById('addLocationButton').addEventListener('click', function addField() {
          const locationName = document.getElementById("locationName").value;
          const locationSlug = locationName.toLowerCase().replace(/\s+/g, "-").trim() 
          if(!locationName) {
            alert('Enter the location name') 
            return;
          } 
          const coordinates = document.getElementById("coordinates");
          const locationDiv = document.createElement("div");
          locationDiv.id = `div-${locationSlug}`;
        
          var label = document.createElement('h6');
          label.innerText = locationName;
          var slug = document.createElement('input');
          slug.name = `slug-${locationSlug}`;
          slug.type = 'text';
          slug.value = locationName;
          slug.hidden = true;
          var title = document.createElement('input');
          title.name = `title-${locationSlug}`;
          title.type = 'text';
          title.value = locationName;
          var lat_input = document.createElement("input");
          lat_input.type = 'text';
          lat_input.name = `latitude-${locationSlug}`;
          lat_input.placeholder = 'Enter latitude';
          var lon_input = document.createElement("input");
          lon_input.type = 'text';
          lon_input.name = `longitude-${locationSlug}`;
          lon_input.placeholder = 'Enter longitude';
          var rad_input = document.createElement("input");
          rad_input.type = 'text';
          rad_input.name = `radius-${locationSlug}`;
          rad_input.placeholder = 'Enter radius';
          
          // add events 
          var event_enter_input_div = document.createElement("div");
          event_enter_input_div.classList.add('inputCheckBox');
          var event_enter_input = document.createElement("input");
          event_enter_input.type = 'checkbox';
          event_enter_input.name = `event-enter-${locationSlug}`;
          event_enter_input.id = `event-enter-${locationSlug}`;
          var event_enter_input_label = document.createElement("label");
          event_enter_input_label.innerText = 'Notify on enter';
          event_enter_input_label.setAttribute('for', `event-enter-${locationSlug}`);
          event_enter_input_div.appendChild(event_enter_input);
          event_enter_input_div.appendChild(event_enter_input_label);
        
          var event_exit_input_div = document.createElement("div");
          event_exit_input_div.classList.add('inputCheckBox');
          var event_exit_input = document.createElement("input");
          event_exit_input.type = 'checkbox';
          event_exit_input.name = `event-exit-${locationSlug}`;
          event_exit_input.id = `event-exit-${locationSlug}`;
          var event_exit_input_label = document.createElement("label");
          event_exit_input_label.innerText = 'Notify on exit';
          event_exit_input_label.setAttribute('for', `event-exit-${locationSlug}`);
          event_exit_input_div.appendChild(event_exit_input);
          event_exit_input_div.appendChild(event_exit_input_label);
            
          const deleteBtn = document.createElement("button");
          deleteBtn.innerText = "Delete";
          deleteBtn.onclick = (e) => {
            e.preventDefault();
            deleteBtn.parentElement.remove();
          };

          locationDiv.appendChild(label)
          locationDiv.appendChild(slug);
          locationDiv.appendChild(title);
          locationDiv.appendChild(lat_input);
          locationDiv.appendChild(lon_input);
          locationDiv.appendChild(rad_input);
          locationDiv.appendChild(event_enter_input_div);
          locationDiv.appendChild(event_exit_input_div);
          locationDiv.appendChild(deleteBtn);
          coordinates.appendChild(locationDiv);
        });
      });
    p
    

    input(type='submit' value=l.submit class="button")
    
    pre= h.dump(project)
