mixin publicProjectCard(project = {})
  //- a(href= ( (user && user.participantInProject) ? (user.participantInProject.toString() !== project._id.toString() ? `/participantprojects/${project._id}` : `/testing` )  : `/studies/${project.name}`) ) 
  //- .project(class=`${(user && user.participantInProject && project._id && user.participantInProject.toString() === project._id.toString() ) ? 'chosenStudy': ''}`)
  .project
    .project__hero
      h2.project__title #{project.name}
    .project__details
      p(style="font-size:1.2rem")= project.description
    .project__bottom
      p(style="font-size:1rem; font-style: italic;")= project.author_name
      p(style="font-size:1rem")= project.author_institute
      if(user && user.level < 10)
        if(user.participant_projects && user.participant_projects.map(e => e.toString()).includes(project._id.toString()))
          a(href=`/participantprojects/${project._id}`)
            .button(style="background-color:#ed1a1a; width: fit-content; color:white;") #{layout.unsubscribe} 
        else 
          a(href=`/participantprojects/${project._id}`)
            .button(style="width: fit-content;") #{layout.subscribe_to} 
      if(!user)
        a(href=`/code/${project.name}/?generate=true`)
          .button(style="width: fit-content;")=`${layout.participate}`
      
