mixin publicProjectCard(project = {})
  
  a(href= (user ? (user.participantInProject ? `/studies/?study=${project.name}` : `/testing/?study=${project.name}` )  : `/studies/${project.name}`) ) 
    .project(class=`${(user && user.participantInProject && project._id && user.participantInProject.toString() === project._id.toString() ) ? 'chosenStudy': ''}`)
      .project__hero
        h2.project__title #{project.name}
      .project__details
        p= project.description
      .project__bottom
        p(style="font-size:1.2rem; font-style: italic;")= project.author_name
        p(style="font-size:1.2rem")= project.author_institute
