mixin publicProjectCard(project = {})
  a(href=`/studies/${project.slug}`)
    .project
      .project__hero
        h2.project__title #{project.name}
      .project__details
        if(project.description.split(' ').length > 20)
          p(style="font-size:1.5rem")= `${project.description.split(' ').slice(0, 20).join(' ')}...`
        else 
          p(style="font-size:1.5rem")= project.description
      .project__bottom
        p(style="font-size:1rem; font-style: italic;")= project.author_name
        p(style="font-size:1rem")= project.author_institute
