mixin result(result)
  .review__header
    .review__author
      p= `${result.project_name}`
    .review__author
      p= result.name
    .review__author
      time.review__time(datetime=result.created)= h.moment(result.created).locale(language).format('MMMM Do YYYY, h:mm:ss a')
    
    if user.level > 10
      if result.uploadType == 'incremental'
        p= `${l.result_incremental}`
        p= `${result.fileSize} ${l.results_rows}`
      else 
        p= `${l.result_full}`
        p= `${result.fileSize} ${l.results_rows}`
      p 
        a(href=`/database/${result.slug}/${result._id}`) #{l.result_download}
      p
        a(href=`/removefromdatabase/${result.test}/${result._id}`) #{l.result_delete}
    else 
      if result.openDataForParticipant
        a(href=`/database/${result.slug}/${result._id}`) #{l.result_download}
        
        if result.deleteRequest
          p 
            a(href=`/deleterequest/${result.test}/${result._id}`) #{l.cancel_delete_request} 
        else 
          p 
            a(href=`/deleterequest/${result.test}/${result._id}`) #{l.send_delete_request}
      else   
        if result.dataRequest
          p 
            a(href=`/datarequest/${result.test}/${result._id}`) #{l.cancel_data_request} 
        else 
          p 
            a(href=`/datarequest/${result.test}/${result._id}`) #{l.send_data_request} 
      
       
      
