mixin scheduledNotification(notification, i)
  .review__header
    .review__author
      p= `Created at ${h.moment.utc(notification.created).local().locale(language).format('MMMM Do YYYY, H:mm')}`
    .review__author
      p= `${notification.name}`
    .review__author
      p= `${notification.title}`
    .review__author
      p= `${notification.message}`
    .review__author
      p= `${notification.url}`
    .review__author
      a(href=`/removenotification/${notification.id}`)
        != h.icon('remove')
  
  .review__body
    if(notification.name === 'One-time')
      if(notification.date)
        span= `Scheduled at ${h.moment.utc(notification.date).local().locale(language).format('MMMM Do YYYY, H:mm')}` 
      if(notification.window_from)
        span= `From ${h.moment.utc(notification.window_from).local().locale(language).format('MMMM Do YYYY, H:mm')}`
      if(notification.window_to)
        span= `To ${h.moment.utc(notification.window_to).local().locale(language).format('MMMM Do YYYY, H:mm')}`
      if(notification.number)
        span= `Number of time points: ${notification.number}`
      
    if(notification.name === 'Repeat')
      if(notification.int_start)
        span= `Start: ${h.moment.utc(notification.int_start).local().locale(language).format('MMMM Do YYYY, H:mm')}` 
      if(notification.start_event && notification.start_event === 'registration')
        span= `Start after ${notification.start_after.days} days, ${notification.start_after.hours} hours and ${notification.start_after.minutes} minutes from participant registration`
      if(notification.int_end)
        span=  `End: ${h.moment.utc(notification.int_end).local().locale(language).format('MMMM Do YYYY, H:mm')}`
      if(notification.stop_event && notification.stop_event === 'registration')
        span= `Stop after ${notification.stop_after.days} days, ${notification.stop_after.hours} hours and ${notification.stop_after.minutes} minutes from participant registration`
      if(notification.readable && notification.readable.from && notification.readable.to)
        span= `Repeat in the time window from ${notification.readable.from}, to ${notification.readable.to}, number of notifications ${notification.windowInterval.number}`
      if(notification.readable && notification.readable.interval)
        span= `Repeat ${notification.readable.interval}`
      
    if(notification.participantId && notification.participantId.length === 0)
      span= `Applies to all participants at the moment of notification creation` 
    if(notification.participantId && notification.participantId.length > 0)
      span= `For participants: ${notification.participantId}` 
    if(notification.randomize)
      span= `Randomized` 
    if(notification.scheduleInFuture)
      span= `Applies to future participants` 
  
