mixin selectedTestCard(test = {})
  //-pre= h.dump(test)
  .chosentest
    .choosetogle
      if user
        .store__action.store__action--heart
          form.heart(method="POST" action=`/api/tests/${test._id}/add`)
            - const testStrings = project.tests.map(obj => obj.toString())
            - const testClass = testStrings.includes(test._id.toString()) ? 'heart__button--hearted' : ''
            button.heart__button(type="submit" name="add" class=testClass)
              != h.icon('remove')
    .selectedtest
      .store__hero
        h2.title
          a(href=`/tests/test/${test.slug}` style='font-size:2rem') #{test.name}
        //- .store__actions
          //-img(src=`/uploads/${test.photo || 'store.png' }`)
          
    //- .timelength
    //-   p= `${test.timer || 5} min.`
    //-   != h.icon('timer')
    
          //- if user
          //-   .store__action.store__action--heart
          //-     form.heart(method="POST" action=`/api/tests/${test._id}/add`)
          //-       - const testStrings = user.tests.map(obj => obj.toString())
          //-       - const testClass = testStrings.includes(test._id.toString()) ? 'heart__button--hearted' : ''
          //-       button.heart__button(type="submit" name="add" class=testClass)
          //-         != h.icon('heart')
          //-check if the user is the same that created a store or the user has admin rights
          //- if false && ((user && test.author.equals(user._id)) || (user && user.level > 100))
          //-   .store__action.store__action--edit
          //-     a(href=`/tests/${test._id}/edit`)
          //-       != h.icon('pencil')
          //- if (user && test.author.equals(user._id)) || (user && user.level > 10)
          //-   if test.numberResults
          //-     .store__action.store__action--count
          //-       a(href=`/tests/${test.slug}/results`)
          //-         != h.icon('review')
          //-       span= test.numberResults
        
      //-.store__details
        p= test.description.split(' ').slice(0,25).join(' ')
