mixin testForm(test = {})

  //- form(action=`https://open-lab.online/tests/labjs` method = 'POST' class='card' enctype="multipart/form-data")
  //- form(action=`/tests/labjs` method = 'POST' class='card' enctype="multipart/form-data")
  form(action=`/add/${test._id || ''}` method = 'POST' enctype="multipart/form-data" id="testform")
    label(for='name') #{l.edit_name}
    input(type='text' name='name' value=test.name required)
    label(for ='description') #{l.edit_description}
    textarea(name='description')= test.description
    label(for='version') #{l.version}
    input(type='text' name='version' value=test.version)
    label(for='script') #{l.edit_labjs_file}
    input(type="file" name='script' id='script' accept=".json")
    if test.script
      p= `${l.edit_uploaded} ${h.moment(test.script, 'MMMM Do YYYY, h:mm:ss a', true).locale(language).calendar()}`
    label(for='photo') #{l.edit_photo}
    input(type='file' name='photo' id='photo' accept="image/gif, image/png, image/jpeg")
    if test.photo
      img(src=`/uploads/${test.photo}`, alt=test.name width=200)
      input(type='hidden' name='photo' value=test.photo)
    if !test.photo
      script(nonce=`${noncevalue}`).
        document.addEventListener('DOMContentLoaded', function (){
          document.getElementById('lucky').addEventListener('click', function removePictureUpload() {
            if (document.getElementById('photo').style.display == 'none'){
              document.getElementById('photo').style.display = 'block';
            } else {
              document.getElementById('photo').style.display = 'none';
            }
          });
        });

      div.inputCheckBox
        input(type = 'checkbox' id = 'lucky' name = 'lucky' checked = false)
        label(for='lucky')
          span.
             #{l.feeling_lucky}

    - const choices = ['Negative valence', 'Positive valence', 'Cognitive systems', 'Social processes','Arousal and Regulatory systems']
    - const tags = test.tags || []

    label(for='tags') #{l.edit_tags}
    ul.tags
      each choice in choices
        .tag.tag__choice
          input(type = 'checkbox' id=choice value=choice name='tags' checked=(tags.includes(choice)))
          label(for=choice) #{layout[choice]}

    div.span4#test_privacy
      input(type='radio', name='open', value='true', style="visibility: true;" checked=(test.open==true))#wnr1

      label(for='wnr1')
        i.yes
        span.
          #{l.edit_public}
        br
        small #{l.edit_public_description}

      //- input(type='radio', name='open', value='false', style="visibility: true;" checked=test.open==false onclick=`checkSubscription()`)#wnr2
      input(type='radio', name='open', value='false', style="visibility: true;" checked=test.open==false || (Object.keys(test).length === 0))#wnr2

      label(for='wnr2')
        i.yes
        span.
          #{l.edit_private}
        br
        small #{l.edit_private_description}

    div(id="paymentinformation" style="display: none")
      p !{l.upgradeNeededMessage}

    input(type='submit' id="btnAddTest" value=l.edit_save class="button")

    //- script.
      const checkSubscription = () => {
        if( `#{user.subscription}` && Date.now() < `#{user.subscriptionExpires}` * 1000 ){
          console.log("User has active subscription");

        } else {
          console.log("No subscription");
          document.getElementById('paymentinformation').style.display = 'block';
          document.getElementById("btnAddTest").disabled = true;
          document.getElementById("btnAddTest").style.display = 'none';
        }
      };

      const removePaymentInfo = () => {
        document.getElementById('paymentinformation').style.display = 'none';
        document.getElementById("btnAddTest").disabled = false;
        document.getElementById("btnAddTest").style.display = 'block';
      };


  //-pre= h.dump(test)
  //- pre= h.dump(user)
