mixin testCard(test = {})
  .store
    .store__hero
      .store__actions
        if user
          if (user && test && test.author && test.author.equals(user._id)) || (user && user.level > 10)
            .store__action.store__action--edit
              a.heart__button(target="_blank" href=`/test/${test.slug}/${user._id}`)
                != h.icon('play-button')
          if (user && test && test.author && test.author.equals(user._id)) || (user && user.level > 100)
            .store__action.store__action--edit
              a.heart__button(href=`/tests/${test._id}/edit`)
                != h.icon('pencil')
          if (user && test && test.author && test.author.equals(user._id)) || (user && user.level > 10)
            .store__action.store__action--edit
              a.heart__button(href=`/tests/${test._id}/json`)
                != h.icon('download')
          if (test && test.production && test.production == 'beta')
            if (user && test && test.author && test.author.equals(user._id)) || (user && user.level > 10)
              .store__action.store__action--edit
                a.heart__button(target='blank' href=`https://labjs-beta.netlify.com/?url=https://open-lab.online/labjs/${test._id}`)
                  img(src=`/images/icons/beta.png` style='height:25px;width: 25px; position:inherit; clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);' )
          else              
            if (user && test && test.author && test.author.equals(user._id)) || (user && user.level > 10)
              .store__action.store__action--edit
                a.heart__button(target='blank' href=`https://labjs.felixhenninger.com/?url=https://open-lab.online/labjs/${test._id}`)
                  img(src=`/images/icons/labjs.png` style='height:25px;width: 25px; position:inherit; clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);' )
          if (user && test && test.author && test.author.equals(user._id)) || (user && user.level > 100)
            .store__action.store__action--edit
              a.heart__button(href=`/tests/${test._id}/deleterequest`)
                != h.icon('remove')


      img(src=`/uploads/${test.photo || 'store.png' }`)
      h2.title
        a(href=`/tests/test/${test.slug}`) #{test.name}

    .store__details
      if(test && test.description)
        p= test.description.split(' ').length > 10 ? test.description.split(' ').slice(0,10).join(' ').concat(' ...') : test.description

    if user && !test.open
      .tooltip
        .store__action
          != h.icon('private')
        span.tooltiptext #{layout.test_card_privacy_message}
          
    if (user && user.level > 100)
      form(action=`/tests/${test._id}/remove` method = 'POST' id="testform")
        input(type='submit' id="btnAddTest" value="delete" class="button")
