mixin userCard(person = {}, i, project)

  .user
    tr
      td #{i + 1}
      td
        if(person.deactivated)
          a(href=`/changestatusofparticipant/${person.id}/on`)
            != h.icon('switchOff')
        else
          a(href=`/changestatusofparticipant/${person.id}/off`)
            != h.icon('switchOn')
      td= person.id
      td= person.token && person.token.startsWith('ExponentPushToken') ? 'Ok' : person.token
      td= h.moment(person.created).locale(language).format('MM-DD-YY, H:mm')
      td= person.username
      td= person.group && person.group.name
      if(person.information && Object.keys(person.information).length)
        td= Object.keys(person.information).filter(k => k !== 'id' && k!== "timezone").map(key => `${key}: ${person.information[key]}`)
      else 
        td
      if(person.information && person.information.timezone)
        td= person.information.timezone
      else 
        td
        
      td   
        a(style="border-bottom: 2px solid #FFC40E;" href=`/payout/${person.id}`) #{l.table_open}
          
      td
        a(style="border-bottom: 2px solid #FFC40E;" href=`/history/?id=${person.id}`) #{l.table_open}
      td
        a(style="border-bottom: 2px solid #FFC40E;" href=`/notifications/${person.id}`) #{l.table_schedule}
      if user.level > 10
        td
          a(href=`/removeuser/${person.id}` class="confirm") 
            <i class="far fa-trash-alt"></i>

  script(defer type='text/javascript' nonce=`${noncevalue}`).
    var links = document.getElementsByClassName('confirm');
    var confirmAction = function(e) {
      if (!confirm('#{l.confirmDeletion}')) {
        e.preventDefault();
      }
    };

    for (var i = 0; i < links.length; i++) {
      links[i].addEventListener('click', confirmAction, false);
    }
      
