mixin userCard(person = {}, i)

  .user
    tr
      td #{i + 1}
      td= person.id
      td= h.moment(person.created).locale(language).format('MM-DD-YY, H:mm')
      td= person.username
      td= Object.keys(person.information).map(key => `${key}: ${person.information[key]}`)
      td
        a(style="border-bottom: 2px solid #FFC40E;" href=`/history/?id=${person.id}`) #{l.table_open}
      td
        a(style="border-bottom: 2px solid #FFC40E;" href=`/notifications/${person.id}`) #{l.table_schedule}
      if user.level > 10
        td
          a(href=`/removeuser/${person.id}`) 
            <i class="far fa-trash-alt"></i>
      
