mixin userCard(person = {}, i, project)

  .user
    tr
      td #{i + 1}
      td
        if(person.deactivated)
          a(href=`/changestatusofparticipant/${person.id}/on`)
            != h.icon('switchOff')
        else
          a(href=`/changestatusofparticipant/${person.id}/off`)
            != h.icon('switchOn')
      td= person.id
      td= person.token.startsWith('ExponentPushToken') ? 'Ok' : person.token
      td= h.moment(person.created).locale(language).format('MM-DD-YY, H:mm')
      td= person.username
      td= person.group && person.group.name
      if(person.information && Object.keys(person.information).length)
        td= Object.keys(person.information).filter(k => k !== 'id').map(key => `${key}: ${person.information[key]}`)
      else 
        td
        
      td   
        a(style="border-bottom: 2px solid #FFC40E;" href=`/payout/${person.id}`) #{l.table_open}
          
      td
        a(style="border-bottom: 2px solid #FFC40E;" href=`/history/?id=${person.id}`) #{l.table_open}
      td
        a(style="border-bottom: 2px solid #FFC40E;" href=`/notifications/${person.id}`) #{l.table_schedule}
      if user.level > 10
        td
          a(href=`/removeuser/${person.id}`) 
            <i class="far fa-trash-alt"></i>
      
